@right_Banner_Background_Color: /* transparent */ #ebebeb;

/* ====== FONTS ====== */
	/* Nato Serif Normal*/
	@font-face {
	    font-family: 'noto_serifbold';
	    src: url('../fonts/noto-serif-bold-webfont.woff2') format('woff2'),
	         url('../fonts/noto-serif-bold-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}

	/* Arimo Normal*/
	@font-face {
	    font-family: 'Arimo';
	    src: local('Arimo'), 
	    	url('../fonts/arimo.woff2') format('woff2'), 
	    	url('../fonts/arimo.woff') format('woff'), 
	    	url('../fonts/arimo.ttf') format('truetype');
	    font-weight: 400;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Arimo';
	    src: local('Arimo Bold'), 
	    	local('Arimo-Bold'), 
	    	url('../fonts/arimobold.woff2') format('woff2'), 
	    	url('../fonts/arimobold.woff') format('woff'), 
	    	url('../fonts/arimobold.ttf') format('truetype');
	    font-weight: 700;
	    font-style: normal;
	}

	/* Arimo Italic */
	@font-face {
	    font-family: 'Arimo';
	    src: local('Arimo Italic'), 
	    	local('Arimo-Italic'), 
	    	url('../fonts/arimoitalic.woff2') format('woff2'), 
	    	url('../fonts/arimoitalic.woff') format('woff'), 
	    	url('../fonts/arimoitalic.ttf') format('truetype');
	    font-weight: 400;
	    font-style: italic;
	}
	@font-face {
	    font-family: 'Arimo';
	    src: local('Arimo Bold Italic'), 
	    	local('Arimo-BoldItalic'), 
	    	url('../fonts/arimobolditalic.woff2') format('woff2'), 
	    	url('../fonts/arimobolditalic.woff') format('woff'), 
	    	url('../fonts/arimobolditalic.ttf') format('truetype');
	    font-weight: 700;
	    font-style: italic;
	}

/* ====== GLOBAL SETTINGS ====== */
	@black: #000000;
	@red: #991a1c;
	@white: #ffffff;
	@gray: #858585;
	@headingGray: #323232;
	*{
		outline: none !important;
	}
	body{
		font-family: 'Arimo';
		font-weight: 400;
		font-size: 17px;
		line-height: 1.3;
	}
	ul{
		padding:0;
		margin: 0;
		list-style: none;
	}
	select{
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		padding-right: 35px;
		height: 33px;
		border-radius:20px;
		border:1px solid #d3d3d3;
		background:url(../img/select-a.png) no-repeat 85%;
		padding-left:20px;
	}
	h1,h2,h3,
	h4,h5,h6,
	p{
		margin: 0;
		font-weight: normal;
	}
	h1{
		font-size: 30px;
		font-family: 'noto_serifbold';
		font-weight: normal;
		margin-bottom: 25px;
	}
	u,
	a:focus,
	a:hover{
		text-decoration: none;
	}
	main,
	section{
		margin-bottom: 37px;
		&.gray{
			background: #f3f3f3;
			padding:40px 0 50px;
		}
	}
	.progress{
	    width: 115px;
	    height: 115px;
	    line-height: 150px;
	    background: none;
	    box-shadow: none;
	    position: relative;
	    margin-bottom: 0!important;
	}
	.progress:after{
	    content: "";
	    width: 100%;
	    height: 100%;
	    border-radius: 50%;
	    border: 5px solid #d6d6d6;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.progress > span{
	    width: 50%;
	    height: 100%;
	    overflow: hidden;
	    position: absolute;
	    top: 0;
	    z-index: 1;
	}
	.progress .progress-left{
	    left: 0;
	}
	.progress .progress-bar{
	    width: 100%;
	    height: 100%;
	    background: none;
	    border-width: 5px;
	    border-style: solid;
	    position: absolute;
	    top: 0;
	}
	.progress .progress-left .progress-bar{
	    left: 100%;
	    border-top-right-radius: 80px;
	    border-bottom-right-radius: 80px;
	    border-left: 0;
	    -webkit-transform-origin: center left;
	    transform-origin: center left;
	}
	.progress .progress-right{
	    right: 0;
	}
	.progress .progress-right .progress-bar{
	    left: -100%;
	    border-top-left-radius: 80px;
	    border-bottom-left-radius: 80px;
	    border-right: 0;
	    -webkit-transform-origin: center right;
	    transform-origin: center right;
	    animation: loading-1 1.8s linear forwards;
	}
	.progress .progress-value{
	    width: 90%;
	    height: 90%;
	    border-radius: 50%;
	    background: #44484b;
	    font-size: 24px;
	    color: #fff;
	    line-height: 135px;
	    text-align: center;
	    position: absolute;
	    top: 5%;
	    left: 5%;
	    display: flex;
	    align-items:center;
	    justify-content: center;
	    background:transparent;
	    .total{
	    	display: block;
			border-radius: 50%;
			width: 78px;
			height: 78px;
			background: #fff;
			color: #000;
			font-family: noto_serifbold;
			font-size: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: .9;
			box-shadow: 0 0 15px rgba(183,183,183,.38);
			position: relative;
			z-index: 4;
	    }
	}
	.progress.blue .progress-bar{
	    border-color: #17a0c7;
	}

	.progress.yellow .progress-bar{
	    border-color: #fdba04;
	}
	.progress.yellow .progress-left .progress-bar{
	    animation: loading-3 1s linear forwards 1.8s;
	}
	.progress.pink .progress-bar{
	    border-color: #ed687c;
	}
	.progress.pink .progress-left .progress-bar{
	    animation: loading-4 0.4s linear forwards 1.8s;
	}
	.progress.green .progress-bar{
	    border-color: #1abc9c;
	}
	.progress.green .progress-left .progress-bar{
	    animation: loading-5 1.2s linear forwards 1.8s;
	}
	@keyframes loading-1{
	    0%{
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    100%{
	        -webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
	    }
	}
	@keyframes loading-2{
	    0%{
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    100%{
	        -webkit-transform: rotate(144deg);
	        transform: rotate(144deg);
	    }
	}
	@keyframes loading-3{
	    0%{
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    100%{
	        -webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	    }
	}
	@keyframes loading-4{
	    0%{
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    100%{
	        -webkit-transform: rotate(36deg);
	        transform: rotate(36deg);
	    }
	}
	@keyframes loading-5{
	    0%{
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    100%{
	        -webkit-transform: rotate(126deg);
	        transform: rotate(126deg);
	    }
	}


	.progress.blue .progress-left .progress-bar{
	    animation: loading-2 1.5s linear forwards 1.8s;
	}
	@media only screen and (max-width: 990px){
	    .progress{ margin-bottom: 20px; }
	}
	.heading{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		h6{
			font-family: 'noto_serifbold';
			display: inline-block;
			line-height: 1.2;
			font-size: 24px;
			color: @headingGray;
			font-weight: normal;
			margin-right: 16px;
		}
		a.more{
			display: inline-block;
			color: @gray;
			font-size: 14px;
			margin-top: 5px;
			.transition-color;
			&:hover{
				color: @red;
			}
		}
	}
	.card{
		position: relative;
		color: @white;
		padding:0 22px 45px 22px;
		font-size: 20px;
		display: flex;
		align-items:flex-end;
		justify-content: flex-start;
		&:after{
			content: "";
			position:absolute;
			left: 0;
			top:0;
			right: 0;
			bottom:0;
			width: 100%;
			height: 100%;
			background:url(../img/card-overlay.png) no-repeat center;
			background-size: 100% 100%;
			z-index: 1;
			transition: opacity .6s linear;
		}
		.text{
			display: block;
			position:relative;
			z-index: 3;
			color: #fff;
			transition: text-shadow .5s linear;
			width: 100%;
		}
		&:hover{
			&:after{
				opacity: .5;
			}
			.text{
				text-shadow: 1px 1px 2px @black;
			}
		}
	}
	u.sticker{
		display:flex;
		align-items:center;
		justify-content: center;
		font-size: 15px;
		line-height: 1;
		height: 23px;
		padding:0 2px;
		min-width: 70px;
		text-align: center;
		white-space: nowrap;
		position:absolute;
		z-index: 5;
		left: 22px;
		top: 22px;
		background:#ebebeb;
		color: #000;
	}
	.default-link{
		display: inline-block;
		color: @black;
		.transition-color;
		&:hover{
			color: @red;
		}
	}
	.menu-overlay,
	.toggle-menu{
		display: none;
	}
	/* MIXINS */
	.transition-color{
		transition:color .6s linear;
	}
	.transition-background{
		transition:color .6s linear;
	}
	/* ANIMATIONS */
	@keyframes fadeIn {
		from {
	    	opacity: 0;
	  	}
	  	to {
	    	opacity: 1;
	  	}
	}

/* ====== BANNER ====== */
	.banner-300x600,
	.banner-1200x105,
	.banner-1200x288{
		a{
			display: block;
		}
		img{
			width: 100%;
		}
	}

/* ====== HEADER ====== */
	header{
		margin-bottom: 35px;
		.text-center.logo{
			margin-bottom: 40px;
			position:relative;
			a{
				display: inline-block;
			}
			form{
				position:absolute;
				right: 0;
				top: 0;
				z-index: 2;
				.form-wrapper{
					position: relative;
					width: 385px;
					height: 65px;
					button{
						padding:0;
						margin: 0;
						border:none;
						width: 25px;
						height: 25px;
						background:url(../img/search-icon.png) no-repeat center;
						position:absolute;
						z-index: 7;
						right: 15px;
						top: 50%;
						transform: translateY(-50%);
						&:focus{
							~ input{
								width: 100%;
								padding-left: 23px;
								padding-right: 44px;
							}
						}
					}
					input{
						border: none;
						background: #f7f7f7;
						transition:width .5s linear;
						height: 100%;
						border-radius: 0;
						font-size: 16px;
						color: @black;
						position:absolute;
						font-size: 16px;
						right: 0;
						width: 0px!important;
						font-size: 0;
						&::-webkit-input-placeholder{
							color: #929292;
						}
						&::-moz-placeholder{
							color: #929292;
						}
						&:-ms-input-placeholder{
							color: #929292;
						}
						&:-moz-placeholder{
							color: #929292;
						}
						&:focus{
							padding-left: 23px;
							padding-right: 44px;
							width: 100%!important;
							font-size: 16px;
						}
					}
				}
			}
		}
		.primary-menu{
			display: flex;
			align-items:center;
			justify-content: space-between;
			flex-wrap: wrap;
			font-size: 18px;
			>li{
				margin: 0 2px;
				position:relative;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				>a{
					.transition-color;
					color: @headingGray;
					&:hover{
						color: @red;
					}
				}
				>ul{
					white-space: nowrap;
					padding: 15px;
					position: absolute;
					z-index: 7;
					left: 0;
					top: 100%;
					background: #fff;
					box-shadow: -19px 16px 17px -28px #fa0e33;
					min-width: 160px;
					border-left: 2px solid #fa0e33;
					display: none;
					li{
						margin-bottom: 7px;
						a{
							display: block;
							width: 100%;
							.transition-color;
							color: @headingGray;
							&:hover{
								color: @red;
							}
						}
					}
				}
				&:hover{
					ul{
						display: block;
						animation:fadeIn .6s 1;
					}
				}
			}
		}
	}

/* ====== TESTS ====== */
	.tests{
		.flex{
			display: flex;
			align-items:flex-start;
			justify-content: space-between;
			.left{
				width: calc(100% - 320px);
				.card{
					min-height: 440px;
					margin-bottom: 40px;
					.text{
						h2{
							font-size: 35px;
							font-family: 'noto_serifbold';
							margin-bottom: 10px;
						}
						p{
							font-size: 23px;
						}
					}
				}
				.flex-child{
					display: flex;
					align-items:flex-start;
					justify-content: space-between;
					flex-wrap: wrap;
					.heading{
						width: 100%;
					}
					.col{
						width: 33.333333%;
						padding-right:30px;
					}
				}
			}
			.right{
				width: 300px;
			}
		}
	}

/* ====== SECTION LINKS ====== */
	.section-links{
		.flex{
			display: flex;
			align-items:stretch;
			justify-content: space-between;
			.card{
				width: 386.5px;
				height: 250px;
				.text{
					font-size: 20px;
				}
			}
		}
	}

/* ====== HOME MAIN SECTION ====== */
	.home-main{
		.flex{
			display: flex;
			align-items:flex-start;
			justify-content: space-between;
			.left{
				width: 386px;
				.default-link{
					display: block;
					.img-wrapper{
						display: block;
						overflow: hidden;
						width: 100%;
						height: 240px;
						margin-bottom: 25px;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: .5s linear;
						} 
					}
					&:hover{
						.img-wrapper img{
							transform: scale(1.05);
						}
					}
				}
			}
			.right{
				width: calc(100% - 406px);
				display: flex;
				align-items:stretch;
				justify-content: space-between;
				flex-wrap: wrap;
				.col{
					width: 33.333333%;
					border-bottom:1px solid #ebebeb;
					min-height: 120px;
					padding-top: 25px;
					padding-right:30px;
					&:nth-child(n+7){
						border:none;
					}
				}
			}
		}
	}

/* ====== DEFAULT SLIDER ====== */
	.default-slider{
		.owl-carousel{
			.item{
				.default-link{
					display: block;
					.img-wrapper{
						display: block;
						overflow: hidden;
						width: 100%;
						height: 210px;
						margin-bottom: 25px;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: .5s linear;
						} 
					}
					&:hover{
						.img-wrapper img{
							transform: scale(1.05);
						}
					}
				}
			}
			.owl-next,
			.owl-prev{
				display: block;
				width: 45px;
				height: 45px;
				transition:background-color .5s linear;
				background:url(../img/prev.png) no-repeat center;
				background-color:rgba(0,0,0,.5);
				cursor: pointer;
				position:absolute;
				left: 0;
				border-radius:50%;
				top: 84px;
				animation:fadeIn .6s 1;
				&:hover{
					background-color:rgba(0,0,0,.8);
				}
				&.disabled{
					display: none;
				}
			}
			.owl-next{
				background:url(../img/next.png) no-repeat center;
				right: 0;
				left: auto;
				background-color:rgba(0,0,0,.5);
				&:hover{
					background-color:rgba(0,0,0,.8);
				}
			}
		}
	}

/* ====== PARTITION ====== */
	.partition{
		.flex{
			display: flex;
			align-items:flex-start;
			justify-content: space-between;
			.col{
				width: 386.5px;
				.default-link.link-card{
					display: block;
					border-bottom:1px solid #ebebeb;
					margin-bottom: 21px;
					.img-wrapper{
						display: block;
						overflow: hidden;
						width: 100%;
						height: 235.5px;
						margin-bottom: 20px;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: .5s linear;
						} 
					}
					&:hover{
						.img-wrapper img{
							transform: scale(1.05);
						}
					}
					.name{
						display: block;
						padding-bottom: 10px;
						min-height: 78px;
					}
				}
				ul{
					li{
						margin-bottom: 30px;
						.default-link{
							padding:0;
							border:none;
						}
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

/* ====== PARTNERS SLIDER ====== */
	.partners-slider{
		padding:0 0 20px 0!important;
		margin-bottom: 0;
		&.gray{
			background:#f3f3f3;
			padding:20px 0!important;
		}
		.owl-carousel{
			.item{
				a{
					display: flex;
					align-items:center;
					justify-content: center;
					height: 55px;
					img{
						width: auto;
						max-width: 100%;
						max-height: 100%;
						display: block;
						margin: 0 auto;
						filter: grayscale(100%);
						transition: filter .5s linear;
					}
					&:hover{
						img{
							filter: grayscale(0);
						}
					}
				}
			}
			.owl-next,
			.owl-prev{
				display: block;
				width: 45px;
				height: 45px;
				transition:background-color .5s linear;
				background:url(../img/prev.png) no-repeat center;
				background-color:rgba(0,0,0,.5);
				cursor: pointer;
				position:absolute;
				left: 0;
				border-radius:50%;
				top: 50%;
				transform: translateY(-50%);
				animation:fadeIn .6s 1;
				&:hover{
					background-color:rgba(0,0,0,.8);
				}
				&.disabled{
					display: none;
				}
			}
			.owl-next{
				background:url(../img/next.png) no-repeat center;
				right: 0;
				left: auto;
				background-color:rgba(0,0,0,.5);
				&:hover{
					background-color:rgba(0,0,0,.8);
				}
			}
		}
	}

/* ====== FOOTER====== */
	footer{
		background:#000000;
		padding:40px 0;
		.flex{
			color: #ababab;
			display: flex;
			align-items:flex-start;
			justify-content: space-between;
			.left{
				width: 255px;
				.logo{
					display: inline-block;
					margin-bottom: 27px;
				}
				.magazine-wrapper{
					display: flex;
					align-items:flex-end;
					margin-bottom: 27px;
					>div{
						&:first-child{
							margin-right: 20px;
							img{
								max-width: 143px;
							}
						}
						&:last-child{
							a{
								display: inline-block;
								color: #ababab;
								.transition-color;
								&:hover{
									color: @red;
								}
								&.archive{
									margin-bottom: 28px;
									font-size: 15px;
								}
								&.d-magaz{
									font-size: 13px;
								}
							}
							ul{
								margin-top: 6px;
								li{
									margin-bottom: 5px;
									&:last-child{
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
				>p{
					font-size: 13px;
				}
			}
			.center{
				width: 580px;
				padding-top: 25px;
				.socials{
					display: flex;
					align-items:center;
					justify-content: center;
					margin-bottom: 70px;
					>p{
						margin-right: 15px;
						font-size: 16px;
					}
					ul{
						display: flex;
						align-items:center; 
						li{
							margin-right: 10px;
							a{
								font-size: 0;
								display: flex;
								align-items:center;
								justify-content: center;
								border-radius:50%;
								color: #ababab;
								transition:.5s; 
								svg{
									height: 18px;
								}
								&:hover{
									color: #fff;
									box-shadow: 0 0px 18px -10px #000;
								}
							}
						}
					}
				}
				.footer-menu{
					display: flex;
					align-items:center;
					justify-content: space-around;
					flex-wrap: wrap;
					li{
						margin:0 10px 30px;
						a{
							color: #ababab;
							font-size: 16px;
							.transition-color;
							&:hover{
								color: @red;
							}
						}
					}
				}

			}
			.right{
				width: 255px;
				text-align: right;
				&.xs{
					display: none;
				}
				.logo{
					display: inline-block;
					margin-bottom: 20px;
				}
				.magazine-wrapper{
					display: flex;
					align-items:flex-end;
					margin-bottom: 27px;
					flex-direction: row-reverse;
					>div{
						&:first-child{
							margin-left: 20px;
							img{
								max-width: 143px;
							}
						}
						&:last-child{
							a{
								display: inline-block;
								color: #ababab;
								.transition-color;
								&:hover{
									color: @red;
								}
								&.archive{
									margin-bottom: 28px;
									font-size: 15px;
								}
								&.d-magaz{
									font-size: 13px;
								}
							}
							ul{
								margin-top: 6px;
								li{
									margin-bottom: 5px;
									&:last-child{
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
				>p{
					font-size: 13px;
				}
			}
			.copyright{
				text-align: center;
				font-size: 14px;
				padding-top:40px;
			}
		}
	}

/* ++++++ PAGES ++++++ */
	main{
		.flex{
			display: flex;
			align-items:flex-start;
			justify-content: space-between;
			align-items:stretch;
			.left-col{
				width: calc(100% - 320px);
			}
			.right-col{
				width: 300px;
				background:@right_Banner_Background_Color;
				object,
				iframe,
				svg,
				img{
					max-width: 100%!important;
					text-align: center;
				}
			}
		}
	}

	.error-code-wrapper{
		text-align: center;
		min-height: 445px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		>img{
			max-width: 100%;
		}
		>p{
			font-size: 22px;
			margin: 27px 0;
		}
		>a{
			display: inline-block;
			font-size: 16px;
			color: @red;
		}
	}

	.archives-col-wrapper{
		.select-filter{
			display: flex;
			align-items:center;
			margin-bottom: 45px;
			.year{
				display: flex;
				align-items:center;
				margin-left: 25px;
				>p{
					margin-right: 16px;
					font-size: 15px;
					color: #6f6f6f;
				}
			}
		}
		.flex-archive-cards{
			display: flex;
			align-items:flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
			.archive-card{
				margin-right: 20px;
				width: 280px;
				text-align: center;
				color: @black;
				font-size: 16px;
				margin-bottom: 40px;
				.transition-color;
				&:hover{
					color: @red;
				}
				&:nth-child(n+3){
					margin-right: 0;
				}
				>span{
					display: block;
					margin-bottom: 10px;
				}
				img{
					max-width: 100%;
				}
			}
		}
	}

	.card.lg{
		min-height: 440px;
		margin-bottom: 40px;
		.text{
			h1,
			h2{
				font-size: 35px;
				font-family: 'noto_serifbold';
				margin-bottom: 10px;
			}
			p{
				font-size: 23px;
			}
		}
	}
	.card.lg.page-heading{
		min-height: 580px;
		.text{
			span{
				font-size: 16px;
				display: block;
				padding-top:10px;
			}
		}
	}
	.section-cards-wrapper {
		.flex{
			display: flex;
			align-items:stretch;
			justify-content: space-between;
			flex-wrap: wrap;
			.default-link{
				display: block;
				width: 430px;
				margin-bottom: 30px;
				.img-wrapper{
					display: block;
					overflow: hidden;
					width:100%;
					height: 248px;
					margin-bottom: 20px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: .5s linear;
					} 
				}
				&:hover{
					.img-wrapper img{
						transform: scale(1.05);
					}
				}
			}
		}
	}

	.more-cards{
		text-align: center;
		display: flex;
		align-items:center;
		justify-content: center;
		font-size: 16px;
		color: @black;
		border:1px solid #c8c8c8;
		height: 52px;
		background:transparent;
		transition:.5s linear;
		&:focus,
		&:hover{
			background:#c8c8c8;
			color: #000;
		}
	}

	.breadcrumbs{
		display: flex;
		align-items:center;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 30px;
		li{
			margin-right: 20px;
			position:relative;
			color: #b6b6b6;
			font-size: 16px;
			&:after{
				content: "/";
				position:absolute;
				right: -13px;
				top: 1px;
			}
			&:last-child:after{
				display: none;
			}
			a{
				color: #b6b6b6;
				transition: color .5s linear;
				&:hover{
					color: @red;
				}
			}
			span{
				color: #b6b6b6;
			}
		}
	}
	.news-page{
		h5{
			font-size: 20px;
			margin-bottom: 25px;
			font-weight: 700;
		}
		.make{
			padding:25px 85px;
			background:#f3f3f3;
			display: flex;
			align-items:center;
			justify-content: space-between;
			margin-bottom: 25px;
			u{
				display: block;
				font-size: 16px;
				margin-bottom: 8px;
			}
			p{
				font-family: 'noto_serifbold';
				font-size: 18px;
			}
			>div:first-child p{
				font-size: 20px;
			}
		}
		>p{
			color: #3f3f3f;
			line-height: 1.4;
			margin-bottom: 20px;
			font-size: 18px;
		}
		img{
			max-width: 100%;
		}
		>img{
			margin-bottom: 23px;
		}
		center{
			color: #838282;
			font-size: 16px;
			display: block;
			margin-bottom: 30px;
			margin-top: -10px;
			line-height: 1.1;
		}
		.owl-carousel{
			margin-bottom: 30px;
			.owl-next,
			.owl-prev{
				display: block;
				width: 45px;
				height: 45px;
				transition:background-color .5s linear;
				background:url(../img/prev.png) no-repeat center;
				background-color:rgba(0,0,0,.5);
				cursor: pointer;
				position:absolute;
				left:10px;
				border-radius:50%;
				top: 50%;
				transform: translateY(-50%);
				animation:fadeIn .6s 1;
				&:hover{
					background-color:rgba(0,0,0,.8);
				}
				&.disabled{
					display: none;
				}
			}
			.owl-next{
				background:url(../img/next.png) no-repeat center;
				right: 10px;
				left: auto;
				background-color:rgba(0,0,0,.5);
				&:hover{
					background-color:rgba(0,0,0,.8);
				}
			}
			.owl-dots{
				display: flex;
				align-items:center;
				justify-content: center;
				position:absolute;
				z-index: 3;
				bottom:17px;
				left: 50%;
				transform: translateX(-50%);
				.owl-dot{
					cursor: pointer;
					width: 11px;
					height: 11px;
					margin: 0 4px;
					border-radius:50%;
					transition:background .5s linear;
					border:1px solid #fff;
					&.active,
					&:hover{
						background:#fff;
					}
				}
			}
		}
		.flex-dd{
			display: flex;
			align-items:flex-start;
			justify-content: space-between;
			margin-bottom: 25px;
			.left{
				.card{
				    width: 386.5px;
				    height: 250px;
				}
			}
			.right{
				width: calc(100% - 410px);
				font-size: 18px;
				p{
					line-height: 1.4;
				}
			}
		}
		.tab-section{
			margin-bottom: 30px;
			h4{
				text-align: center;
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 25px;
			}
			.flex-tab{
				display: flex;
				align-items:stretch;
				.left{
					background:#f3f3f3;
					width: 260px;
					padding:20px;
					.tab-menu{
						li{
							margin-bottom: 11px;
							&:last-child{
								margin-bottom: 0;
							}
							a{
								display: block;
								color: #3f3f3f;
								font-size: 18px;
								font-weight: bold;
								transition: color .5s linear;
								&:hover{
									color: @red;
								}
							}
							&.active a{
								color: @red;
							}
						}
					}
				}
				.right{
					width: calc(100% - 260px);
					border:1px solid #f3f3f3;
					.tab-content{
						width: 100%;
						
						ul{
							li{
								padding:9px 23px;
								font-size: 18px;
								color: #3f3f3f;
								border-bottom:1px solid #f3f3f3;
								line-height: 1.1;
								&:last-child{
									border-bottom:none;
								}
							}
						}
					}
				}
			}
		}
		.plus-minus{
			display: flex;
			align-items:flex-start;
			justify-content: space-between;
			margin-bottom: 25px;
			.col{
				width: 380px;
				display: flex;
				align-items:flex-start;
				img{	
					margin-right: 18px;
					width: 55px;
				}
				ul{
					font-size: 18px;
					color: #3f3f3f;
					li{
						margin-bottom: 8px;
					}
				}
			}
		}
	}
	.rating{
		background:#f3f3f3;
		padding: 45px 35px;
		margin-bottom: 30px;
		.col{
			margin-bottom: 23px;
			>h3{
				font-size: 20px;
				font-family: 'noto_serifbold';
			}
			>p{
				font-size: 16px;
				margin: 12px 0 8px 0;
				line-height: 1.4;
				width: 92%;
			}
			.rate-wrapper{
				display: flex;
				align-items:center;
				justify-content: space-between;
				.rate{
					width: 92%;
					height: 6px;
					background:#d6d6d6;
					position:relative;
					u{
						display: block;
						position:absolute;
						text-decoration: none!important;
						height: 100%;
						background:#17a0c7;
						left: 0;
						top: 0;
					}
				}
				>span{
					border-radius:50%;
					width: 32px;
					height: 32px;
					background:#fff;
					color: #000;
					font-family: 'noto_serifbold';
					font-size: 18px;
					display: flex;
					align-items:center;
					justify-content: center;
					line-height: .9;
					box-shadow: 0 0 15px rgba(183, 183, 183, 0.38);
				}
			}
		}
		.total{
			display: flex;
			align-items:center;
			justify-content: center;
			>p{
				font-size: 20px;
				font-family: 'noto_serifbold';
				margin-right: 19px;
			}
		}
	}
	p.heading{
		font-size: 24px;
		margin-bottom: 27px;
	}
	p.fz-20{
		font-size: 20px;
	}
	.tags{
		display: flex;
		align-items:center;
		margin-bottom: 30px;
		li{
			margin-right: 15px;
			a{
				display: inline-block;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 36px;
				color: #000;
				background:#f3f3f3;
				transition: background .5s linear;
				padding:0 11px;
				&:hover{
					background:#c8c8c8;
				}
			}
		}
	}
	.subscribe-form{
		background:#f3f3f3;
		padding:30px 100px;
		display: flex;
		align-items:center;
		justify-content: center;
		flex-wrap: wrap;
		h4{
			width: 100%;
			font-size: 18px;
			margin-bottom: 23px;
			 font-family: 'noto_serifbold';
			 text-align: center;
		}
		input{
			width: 65%;
			text-align: center;
			font-size: 16px;
			color: #000;
			line-height: 45px;
			background:#fff;
			border:none;
			&::-webkit-input-placeholder{
				color: #929292;
			}
			&::-moz-placeholder{
				color: #929292;
			}
			&:-ms-input-placeholder{
				color: #929292;
			}
			&:-moz-placeholder{
				color: #929292;
			}
		}
		button{
			width: 35%;
			border:none;
			line-height: 45px;
			background: #6e6e6e;
			color: #ffffff;
			font-size: 16px;
			transition: background .5s linear;
			&:hover{
				background:@red;
			}
		}
	}
	


/* ====== MEDIA ====== */
	@media(min-width: 1200px){
		.container{
			padding:0;
			width: 1200px;
			.row{
				margin: 0;
			}
		}
	}

	@media (max-width: 1199px) {
		.container{
			padding:0 10px;
			.row{
				margin: 0 -10px;
			}
		}
		main{
			.flex{
				display: block;
				.left-col{
					width: 100%;
					margin-bottom: 25px;
				}
				.right-col{
					width: 100%;
					min-height: 50px;
				}
			}
		}
		.banner-1200x105, 
		.banner-1200x288, 
		.banner-300x600{
			display: none;
		}
		header.container{
			padding-top: 30px;
		}
		.tests .flex .left{
			width: 100%;
		}
		.tests .flex{
			display: block;
		}
		.section-links .flex .card{
			padding: 0 15px 22px;
		}
		.section-links .flex .card .text{
			font-size: 16px;
		}
		.section-links .flex .card {
			width: 305px;
			height: 200px;
		}
		.home-main .flex .left {
		    width: 305px;
		}
		.home-main .flex .left .default-link .img-wrapper{
			height: 190px;
		}
		.home-main .flex .right{
			width: 625px;
		}
		.home-main .flex .right .col {
		    padding-top: 10px;
		    padding-right: 10px;
		}
		.home-main .flex .right .col{
			min-height: 96px;
		}
		body{
			font-size: 16px;
		}
		.partition .flex .col {
		    width: 305px;
		}
		.partition .flex .col .default-link.link-card .img-wrapper{
			height: 185px;
		}
		footer .flex .center .footer-menu li {
		    margin: 0 4px 32px;
		}
		.archives-col-wrapper .flex-archive-cards .archive-card{
			width: 302px;
		}
		.section-cards-wrapper .flex .default-link{
			width: 460px;
		}
		.section-cards-wrapper .flex .default-link .img-wrapper{
			height: 253px;
		}
	}

	@media(max-width: 991px){
		body{
			font-size: 14px;
		}
		main,
		section{
			margin-bottom: 25px;
			&.gray{
				padding:25px 0;
			}
		}
		.heading{
			margin-bottom: 15px;
		}
		.heading h6{
			font-size: 22px;
			margin-right: 14px;
		}
		u.sticker{
			left: 10px;
			top: 10px;
			padding:0 10px;
			height: 21px;
			font-size: 14px;
		}
		.card{
			padding:0 15px 30px 15px;
			font-size: 16px;
		}
		.primary-menu{
			font-size: 16px;
		}
		header .primary-menu>li:first-child,
		header .primary-menu>li:last-child,
		header .primary-menu>li {
		    margin: 0 23px;
		    position: relative;
		}
		header{
			overflow: hidden;
		}
		header .primary-menu {		   
		 	margin-left: -23px;
		    margin-right: -23px;
		}
		header .text-center.logo{
			margin-bottom: 30px;
			text-align: left;
		}
		header .text-center.logo a img{
			max-width: 240px;
		}
		header .text-center.logo form .form-wrapper{
			height: 47px;
		}
		.card.lg.page-heading,
		.card.lg,
		.tests .flex .left .card{
			min-height: 366px;
		}
		.card.lg .text h2,
		.card.lg .text h1,
		.tests .flex .left .card .text h2{
			font-size: 30px;
		}
		.card.lg .text p,
		.tests .flex .left .card .text p{
			font-size: 20px;
		}
		.tests .flex .left .flex-child .col{
			padding-right:20px;
		}
		.section-links .flex .card{
			width: 236px;
			height: 151px;
			padding:0 10px 10px;
		}
		.section-links .flex .card .text {
		    font-size: 14px;
		}
		.home-main .flex .left{
			width: 236px;
		}
		.home-main .flex .right {
		    width: 482px;
		}
		.home-main .flex .right .col{
			padding-top:5px;
			padding-right:5px;
		}
		.home-main .flex .right .col{
			min-height: 95px;
		}
		.home-main .flex .left .default-link .img-wrapper {
		    height: 143px;
		}
		.default-slider .owl-carousel .item .default-link .img-wrapper{
			height: 130px;
		}
		.partition .flex .col {
		    width: 236px;
		}
		.partition .flex .col .default-link.link-card .img-wrapper {
		    height: 141px;
		}
		.partition .flex .col .default-link.link-card .img-wrapper{
			margin-bottom: 10px;
		}
		.partition .flex .col .default-link.link-card .name{
			min-height: 83px;
		}
		footer .flex .center .socials{
			flex-direction: column;
			align-items:center;
			justify-content: center;
		}
		footer .flex .center .footer-menu li {
		    margin: 0px 2px 2px;
		}
		footer .flex .right .magazine-wrapper>div:first-child img,
		footer .flex .left .magazine-wrapper>div:first-child img {
		    max-width: 108px;
		}
		footer .flex .center .footer-menu li a{
			font-size: 14px;
		}
		footer .flex .center .socials>p{
			font-size: 14px;
			margin: 0 0 10px 0;
		}
		footer .flex .center .socials{
			margin-bottom: 22px;
		}
		footer .flex .copyright{
			font-size: 12px;
			padding-top:27px;
		}
		footer .flex .right .logo{
			margin-bottom: 20px;
		}
		footer .flex .left .magazine-wrapper>div:first-child{
			margin-right: 10px;
		}
		footer .flex .right .magazine-wrapper>div:first-child{
			margin-left: 10px;
		}
		footer .flex .right,
		footer .flex .left{
			width: 230px;
		}
		footer .flex .center{
			width: 195px;
		}
		footer{
			padding: 25px 0;
		}
		footer .flex .center .socials ul li:last-child{
			margin-right: 0;
		}
		.default-slider .owl-carousel .owl-next, 
		.default-slider .owl-carousel .owl-prev{
			display: none;
		}
		.heading a.more{
			font-size: 13px;
		}
		.partition .flex .col ul li{
			margin-bottom: 20px;
		}
		.error-code-wrapper>p{
			font-size: 20px;
		}
		h1{
			font-size: 26px;
		}
		.archives-col-wrapper .flex-archive-cards .archive-card {
		    width: 230px;
		    margin-bottom: 30px;
		}
		.section-cards-wrapper .flex .default-link {
		    width: 357px;
		}
		.section-cards-wrapper .flex .default-link .img-wrapper {
		    height: 197px;
		}
		.breadcrumbs li{
			font-size: 14px;
		}
		.rating,
		.news-page .make{
			padding:25px;
		}
	}

	@media (max-width: 767px) {
		.heading h6{
			font-size: 20px;
		}
		.card{
			padding:0 10px 20px 10px;
			font-size: 14px;
		}
		.primary-menu{
			font-size: 14px;
		}
		header .primary-menu{
			margin: 0;
			padding:62px 15px 15px;
			display: block;
			position:fixed;
			z-index: 50;
			top: 0;
			left: -300px;
			width: 270px;
			height: 100%;
			background:@white;
			transition: .5s linear;
			overflow: auto;
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.51);
			li:first-child,
			li:last-child,
			li{
				margin: 0 0 4px 0; 
				a{
					font-size: 16px;
					display: block;
				}
			}
			&.active{
				left: 0;
			}
		}
		header .text-center.logo form .form-wrapper{
			width: calc(100vw - 20px);
		}
		header .text-center.logo a img {
		    max-width: 190px;
		}
		header .text-center.logo form .form-wrapper {
		    height: 37px;
		}
		header .text-center.logo form .form-wrapper input{
			font-size: 14px;
			-webkit-box-shadow:inset -80px 0 0 0 rgba(255,255,255,1);
			-moz-box-shadow:inset -80px 0 0 0 rgba(255,255,255,1);
			box-shadow:inset -80px 0 0 0 rgba(255,255,255,1);
			color: transparent;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			&::-webkit-input-placeholder{
				color: transparent;
			}
			&::-moz-placeholder{
				color: transparent;
			}
			&:-ms-input-placeholder{
				color: transparent;
			}
			&:-moz-placeholder{
				color: transparent;
			}
			&:focus{
				padding-left:15px;
			}
		}
		header .text-center.logo form .form-wrapper button{
			right: 10px;
		}
		header.container {
		    padding-top: 15px;
		}
		.toggle-menu{
			display: block;
			width: 25px;
			height: 25px;
			border:none;
			background:url(../img/menu.svg) no-repeat center;
			background-size:100% 100%;
			position:absolute;
			z-index: 3;
			right: 45px;
			top: 5px;
		}
		header .text-center.logo form .form-wrapper input:focus{
			padding-right:90px;
			color: #000;
			&::-webkit-input-placeholder{
				color: #929292;
			}
			&::-moz-placeholder{
				color: #929292;
			}
			&:-ms-input-placeholder{
				color: #929292;
			}
			&:-moz-placeholder{
				color: #929292;
			}
		}
		.menu-overlay{
			display: none;
			background:rgba(0,0,0,.5);
			position:fixed;
			z-index: 49;
			left:0;
			top: 0;
			width: 100%;
			height: 100%;
			&.active{
				animation:fadeIn .5s 1;
				display: block;
			}
		}
		header .primary-menu>li>ul{
			display: block;
			position:static;
			width: 100%;
			box-shadow:none;
			border-bottom:1px solid #eee;
			animation:none!important;
			padding:10px;
			margin-bottom: 10px;
		}
		header .text-center.logo{
			margin-bottom: 0;
		}
		header{
			margin-bottom: 15px;
		}
		header .text-center.logo a.active{
			position:relative;
			z-index: 55;
		}
		.card.lg.page-heading,
		.card.lg,
		.tests .flex .left .card {
		    min-height: 198px;
		}
		.card.lg .text h2,
		.card.lg .text h1,
		.tests .flex .left .card .text h2 {
		    font-size: 23px;
		    margin-bottom: 5px;
		}
		.card.lg .card .text p,
		.tests .flex .left .card .text p{
			font-size: 18px;
		}
		.card.lg.page-heading,
		.card.lg,
		.tests .flex .left .card{
			margin-bottom: 20px;
		}
		.tests .flex .left .flex-child{
			display: block;
		}
		.tests .flex .left .flex-child .col{
			padding-right:20px;
			margin-bottom: 15px;
			width: 100%;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.section-links .flex{
			display: block;
		}
		.section-links .flex .card{
			width: 100%;
			margin-bottom: 15px;
			height: 250px;
		}
		.home-main .flex{
			display: block;
		}
		.home-main .flex .left{
			width: 100%;
			margin-bottom: 15px;
		}
		.home-main .flex .right{
			width: 100%;
		}
		.home-main .flex .right .col{
			width: 100%;
			padding:0;
			margin-bottom: 15px;
			min-height: auto;
			padding-bottom:10px;
		}
		.home-main .flex .right .col:nth-child(n+7){
			border-bottom: 1px solid #ebebeb;
		}
		.home-main .flex .right .col:last-child{
			border-bottom:none;
			margin-bottom: 0;
			padding-bottom:0;
		}
		.default-slider .owl-carousel .item .default-link .img-wrapper,
		.home-main .flex .left .default-link .img-wrapper{
			height: 250px;
		}
		.partition .flex{
			display: block;
		}
		.partition .flex .col{
			width: 100%;
			margin-bottom: 20px;
		}
		.partition .flex .col .default-link.link-card .name{
			min-height: auto;
		}
		.partition .flex .col .default-link.link-card .img-wrapper {
		    height: 237px;
		}
		.news-page .owl-carousel .owl-next, .news-page .owl-carousel .owl-prev,
		.partners-slider .owl-carousel .owl-next, .partners-slider .owl-carousel .owl-prev{
			display: none;
		}
		footer .flex{
			display: block;
		}
		footer .flex .left, 
		footer .flex .right,
		footer .flex .center{
			width: 100%;
		}
		footer .flex .right .logo{
			display: none;
		}
		footer .flex .right .magazine-wrapper>div:first-child,
		footer .flex .left .magazine-wrapper>div:first-child{
			width: 100%;
			text-align: center;
			margin-right: 0;
			margin-bottom: 15px;
			img{
				max-width: 100%;
			}
		}
		footer .flex .right .magazine-wrapper,
		footer .flex .left .magazine-wrapper{
			display: block;
		}
		footer .flex .right .magazine-wrapper>div:last-child a.archive,
		footer .flex .left .magazine-wrapper>div:last-child a.archive{
			margin-bottom: 0;
		}
		footer .flex .right .magazine-wrapper>div:last-child ul,
		footer .flex .left .magazine-wrapper>div:last-child ul{
			display: flex;
			align-items:center;
			justify-content: center;
			li:first-child{
				margin-right: 10px;
			}
		}
		footer .flex .right .magazine-wrapper>div:last-child,
		footer .flex .left .magazine-wrapper>div:last-child{
			text-align: center;
			a{
				margin: 0 10px;
			}
		}
		footer .flex .center, footer .flex .left, footer .flex .right{
			text-align: center;
		}
		footer .flex .center{
			padding: 0;
		}
		footer .flex .left .magazine-wrapper>div:last-child ul{
			display: none;
		}
		footer .flex .right.large{
			display: none!important;
		}
		footer .flex .right.xs{
			display: block;
		}
		footer .flex .right .magazine-wrapper,
		footer .flex .left .magazine-wrapper{
			margin-bottom: 4px;
		}
		footer .flex .right .magazine-wrapper>div:first-child{
			margin-left: 0;
		}
		footer .flex .left{
			margin-bottom: 20px;
		}
		footer .flex .right .magazine-wrapper>div:last-child ul{
			margin-top: 14px;
		}
		footer .flex .left,
		footer .flex .right{
			margin-bottom: 30px;
		}
		footer .flex .left .logo img {
			max-width: 180px;
		}
		html.active,
		body.active{
			position:relative;
			overflow: hidden!important;
		}
		.error-code-wrapper>p{
			font-size: 16px;
		}
		.error-code-wrapper>a{
			font-size: 14px;
		}
		.error-code-wrapper{
			min-height: auto;
			padding-top:35px;
			padding-bottom:35px;
		}
		.news-page .owl-carousel .owl-stage-outer,
		.default-slider .owl-carousel .owl-stage-outer{
			margin-left: -29px;
		}
		h1{
			font-size: 24px;
		}
		.archives-col-wrapper .flex-archive-cards .archive-card {
			display: block;
			margin-right: auto!important;
			margin-left: auto!important;
		    width: 100%;
		    max-width: 400px;
		    margin-bottom: 25px;
		    &:last-child{
		    	margin-bottom: 0;
		    }
		}
		.archives-col-wrapper .flex-archive-cards{
			display: block;
		}
		.archives-col-wrapper .select-filter .year{
			margin-left: 10px;
		}
		.archives-col-wrapper .select-filter .year>p{
			margin-right: 5px;
			font-size: 14px;
		}
		select{
			padding-left:14px;
			height: 30px;
		}
		.archives-col-wrapper .select-filter{
			margin-bottom: 30px;
		}
		.section-cards-wrapper .flex .default-link{
			width: 100%;
		}
		.section-cards-wrapper .flex .default-link .img-wrapper {
		    height: 240px;
		}
		.more-cards{
			height: 40px;
		}
		.card.lg.page-heading .text span{
			font-size: 14px;
		}
		.news-page h5{
			font-size: 18px;
		}
		.news-page .make, .rating{
			display: block;
		}
		.breadcrumbs{
			display: none;
		}
		.news-page .make>div{
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.news-page .make>div:first-child p,
		.news-page .make>div p{
			font-size: 18px;
		}
		.news-page .make u{
			font-size: 14px;
			margin-bottom: 6px;
		}
		.news-page>p{
			font-size: 14px;
		}
		.news-page center{
			font-size: 13px;
		}
		.news-page .flex-dd{
			display: block;
		}
		.news-page .flex-dd .left .card{
			width: 100%;
		}
		.news-page .flex-dd .right{
			width: 100%;
			font-size: 14px;
		}
		.news-page .tab-section .flex-tab{
			display: block;
		}
		.news-page .tab-section .flex-tab .left .tab-menu li a{
			font-size: 16px;
		}
		.news-page .tab-section .flex-tab .left .tab-menu li{
			margin-bottom: 5px;
		}
		.news-page .tab-section .flex-tab .right .tab-content ul li{
			font-size: 16px;
		}
		.news-page .tab-section .flex-tab .right,
		.news-page .tab-section .flex-tab .left{
			width: 100%;
		}
		.news-page .plus-minus{
			display: block;
		}
		.news-page .plus-minus .col{
			width: 100%;
			&:first-child{
				margin-bottom: 20px;
			}
		}
		.news-page .plus-minus .col ul li{
			font-size: 16px;
			margin-bottom: 4px;
		}
		.rating .col>p{
			font-size: 14px;
			margin: 8px 0;
		}
		.rating .col>h3{
			font-size: 18px;
		}
		.rating .total{
			flex-direction: column;
			align-items:center;
			justify-content: center;
			p{
				margin: 0 0 10px 0;
				font-size: 16px;
			}
		}
		.tags{
			flex-wrap: wrap;
			li a{
				line-height: 33px;
			}
		}
		.subscribe-form{
			padding:15 10px;
			flex-direction: column;
			align-items:center;
			justify-content: center;
			input,
			button{
				width: 100%;
				margin-bottom: 5px;
			}
		}
		.tags li:last-child{
			margin-right: 0;
		}
		.tags li{
			margin-right: 5px;
			margin-bottom: 5px;
			a{
				font-size: 13px;
			}
		}
		.rating .col>p{
			line-height: 1.2;
		}
		.news-page .make, .rating{
			padding:15px 10px;
		}
		.rating .col .rate-wrapper .rate{
			width: 85%;
		}
		.news-page .plus-minus .col ul li{
			font-size: 14px;
		}
		.news-page .owl-carousel .owl-dots{
			display: none;
		}
	}


	@media(max-width: 480px){
		.default-slider .owl-carousel .item .default-link .img-wrapper{
			height: 183px;
		}
		.partition .flex .col .default-link.link-card .img-wrapper {
		    height: 235px;
		}
		.section-cards-wrapper .flex .default-link .img-wrapper {
		    height: 218px;
		}
	}
	@media(max-width: 380px){
		.default-slider .owl-carousel .item .default-link .img-wrapper{
			height: 163px;
		}
		.partition .flex .col .default-link.link-card .img-wrapper {
		    height: 215px;
		}
		.section-links .flex .card{
			height: 224px;
		}
		.home-main .flex .left .default-link .img-wrapper{
			height: 220px;
		}
		.section-cards-wrapper .flex .default-link .img-wrapper {
		    height: 196px;
		}
	}
	@media(max-width: 340px){
		.default-slider .owl-carousel .item .default-link .img-wrapper{
			height: 143px;
		}
		.partition .flex .col .default-link.link-card .img-wrapper {
		    height: 180px;
		}
		.section-links .flex .card{
			height: 190px;
		}
		.home-main .flex .left .default-link .img-wrapper{
			height: 187px;
		}
		.section-cards-wrapper .flex .default-link .img-wrapper {
		    height: 166px;
		}
		.breadcrumbs{
			display: none;
		}
	}
