@font-face {
	font-family: noto_serifbold;
	src: url(../fonts/noto-serif-bold-webfont.woff2) format('woff2'), url(../fonts/noto-serif-bold-webfont.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Arimo;
	src: local('Arimo'), url(../fonts/arimo.woff2) format('woff2'), url(../fonts/arimo.woff) format('woff'), url(../fonts/arimo.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Arimo;
	src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/arimobold.woff2) format('woff2'), url(../fonts/arimobold.woff) format('woff'), url(../fonts/arimobold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Arimo;
	src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/arimoitalic.woff2) format('woff2'), url(../fonts/arimoitalic.woff) format('woff'), url(../fonts/arimoitalic.ttf) format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Arimo;
	src: local('Arimo Bold Italic'), local('Arimo-BoldItalic'), url(../fonts/arimobolditalic.woff2) format('woff2'), url(../fonts/arimobolditalic.woff) format('woff'), url(../fonts/arimobolditalic.ttf) format('truetype');
	font-weight: 700;
	font-style: italic;
}
@keyframes "loading-1" {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
@keyframes "loading-2" {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(144deg);
		transform: rotate(144deg);
	}
}
@keyframes "loading-3" {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
@keyframes "loading-4" {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(36deg);
		transform: rotate(36deg);
	}
}
@keyframes "loading-5" {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(126deg);
		transform: rotate(126deg);
	}
}
@keyframes "fadeIn" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
* {
	outline: 0 !important;
}
body {
	font-family: Arimo;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.3;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 35px;
	height: 33px;
	border-radius: 20px;
	border: 1px solid #d3d3d3;
	background: url(../img/select-a.png) no-repeat 85%;
	padding-left: 20px;
}
h1 {
	margin: 0;
	font-weight: 400;
	font-size: 30px;
	font-family: noto_serifbold;
	font-weight: 400;
	margin-bottom: 25px;
}
h2 {
	margin: 0;
	font-weight: 400;
}
h3 {
	margin: 0;
	font-weight: 400;
}
h4 {
	margin: 0;
	font-weight: 400;
}
h5 {
	margin: 0;
	font-weight: 400;
}
h6 {
	margin: 0;
	font-weight: 400;
}
p {
	margin: 0;
	font-weight: 400;
}
a {
	&:focus {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}
u {
	text-decoration: none;
}
table {
	width: 100% !important;
}
main {
	margin-bottom: 37px;
	.flex {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		align-items: stretch;
		.left-col {
			width: calc(100% - 320px);
		}
		.right-col {
			width: 300px;
			&.arhive {
				margin-top: 58px;
			}
			iframe {
				max-width: 100% !important;
				text-align: center;
			}
			img {
				max-width: 100% !important;
				text-align: center;
			}
			object {
				max-width: 100% !important;
				text-align: center;
			}
			svg {
				max-width: 100% !important;
				text-align: center;
			}
		}
	}
}
section {
	margin-bottom: 37px;
}
main.gray {
	background: #f3f3f3;
	padding: 40px 0 50px;
}
section.gray {
	background: #f3f3f3;
	padding: 40px 0 50px;
}
.progress {
	width: 115px;
	height: 115px;
	line-height: 150px;
	background: 0 0;
	box-shadow: none;
	position: relative;
	margin-bottom: 0 !important;
	&:after {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 5px solid #17a0c7;
		position: absolute;
		top: 0;
		left: 0;
	}
	>span {
		width: 50%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
	}
	.progress-left {
		left: 0;
		.progress-bar {
			left: 100%;
			border-top-right-radius: 80px;
			border-bottom-right-radius: 80px;
			border-left: 0;
			-webkit-transform-origin: center left;
			transform-origin: center left;
		}
	}
	.progress-bar {
		width: 100%;
		height: 100%;
		background: 0 0;
		border-width: 5px;
		border-style: solid;
		position: absolute;
		top: 0;
	}
	.progress-right {
		right: 0;
		.progress-bar {
			left: -100%;
			border-top-left-radius: 80px;
			border-bottom-left-radius: 80px;
			border-right: 0;
			-webkit-transform-origin: center right;
			transform-origin: center right;
			animation: loading-1 1.8s linear forwards;
		}
	}
	.progress-value {
		width: 90%;
		height: 90%;
		border-radius: 50%;
		background: #44484b;
		font-size: 24px;
		color: #fff;
		line-height: 135px;
		text-align: center;
		position: absolute;
		top: 5%;
		left: 5%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: 0 0;
		.total {
			display: block;
			border-radius: 50%;
			width: 78px;
			height: 78px;
			background: #fff;
			color: #000;
			font-family: noto_serifbold;
			font-size: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: .9;
			box-shadow: 0 0 15px rgba(183, 183, 183, .38);
			position: relative;
			z-index: 4;
		}
	}
}
.progress.blue {
	.progress-bar {
		border-color: #17a0c7;
	}
	.progress-left {
		.progress-bar {
			animation: loading-2 1.5s linear forwards 1.8s;
		}
	}
}
.progress.yellow {
	.progress-bar {
		border-color: #fdba04;
	}
	.progress-left {
		.progress-bar {
			animation: loading-3 1s linear forwards 1.8s;
		}
	}
}
.progress.pink {
	.progress-bar {
		border-color: #ed687c;
	}
	.progress-left {
		.progress-bar {
			animation: loading-4 .4s linear forwards 1.8s;
		}
	}
}
.progress.green {
	.progress-bar {
		border-color: #1abc9c;
	}
	.progress-left {
		.progress-bar {
			animation: loading-5 1.2s linear forwards 1.8s;
		}
	}
}
.heading {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	h6 {
		font-family: noto_serifbold;
		display: inline-block;
		line-height: 1.2;
		font-size: 24px;
		color: #323232;
		font-weight: 400;
		margin-right: 16px;
	}
	a.more {
		display: inline-block;
		color: #858585;
		font-size: 14px;
		margin-top: 5px;
		transition: color .6s linear;
		&:hover {
			color: #991a1c;
		}
	}
}
.card {
	position: relative;
	color: #fff;
	padding: 0 22px 45px 22px;
	font-size: 20px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: url(../img/card-overlay.png) no-repeat center;
		background-size: 100% 100%;
		z-index: 1;
		transition: opacity .6s linear;
	}
	.text {
		display: block;
		position: relative;
		z-index: 3;
		color: #fff;
		transition: text-shadow .5s linear;
		width: 100%;
	}
	&:hover {
		&:after {
			opacity: .5;
		}
		.text {
			text-shadow: 1px 1px 2px #000;
		}
	}
}
u.sticker {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	line-height: 1;
	height: 23px;
	padding: 0 2px;
	min-width: 70px;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	z-index: 5;
	left: 22px;
	top: 22px;
	background: #ebebeb;
	color: #000;
}
.default-link {
	display: inline-block;
	color: #000;
	transition: color .6s linear;
	&:hover {
		color: #991a1c;
	}
}
.menu-overlay {
	display: none;
}
.toggle-menu {
	display: none;
}
.transition-color {
	transition: color .6s linear;
}
.transition-background {
	transition: color .6s linear;
}
.banner-1200x105 {
	a {
		display: block;
	}
	img {
		width: 100%;
	}
}
.banner-1200x288 {
	a {
		display: block;
	}
	img {
		width: 100%;
	}
}
.banner-300x600 {
	a {
		display: block;
	}
	img {
		width: 100%;
	}
}
header {
	margin-bottom: 35px;
	.text-center.logo {
		margin-bottom: 40px;
		position: relative;
		a {
			position: relative;
			display: inline-block;
			z-index: 3;
		}
		.form_search {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			.search_button {
				position: absolute;
				right: 16px;
				top: 20px;
				width: 25px;
				height: 25px;
				background: url(../img/search-icon.png) no-repeat center;
				cursor: pointer;
				z-index: 500;
			}
			&.act {
				z-index: 500;
				.bg_search {
					display: block;
				}
				input {
					width: 100% !important;
					padding-left: 23px;
					padding-right: 44px;
				}
				.search_button {
					pointer-events: none;
				}
			}
			.bg_search {
				display: none;
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
		form {
			position: relative;
			z-index: 100;
			.form-wrapper {
				position: relative;
				width: 385px;
				height: 65px;
				button {
					padding: 0;
					margin: 0;
					border: none;
					width: 25px;
					height: 25px;
					background: transparent;
					// background: url(../img/search-icon.png) no-repeat center;
					position: absolute;
					z-index: 7;
					right: 15px;
					top: 50%;
					transform: translateY(-50%);
					&:focus~input {
						width: 100%;
						padding-left: 23px;
						padding-right: 44px;
					}
				}
				input {
					border: none;
					background: #f7f7f7;
					transition: width .5s linear;
					height: 100%;
					border-radius: 0;
					color: #000;
					position: absolute;
					font-size: 16px;
					right: 0;
					width: 0 !important;
					font-size: 0;
					&::-webkit-input-placeholder {
						color: #929292;
					}
					&::-moz-placeholder {
						color: #929292;
					}
					&:-ms-input-placeholder {
						color: #929292;
					}
					&:-moz-placeholder {
						color: #929292;
					}
					&:focus {
						padding-left: 23px;
						padding-right: 44px;
						width: 100% !important;
						font-size: 16px;
					}
				}
			}
		}
	}
	.primary-menu {
		li {
			margin: 0 2px;
			position: relative;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				transition: color .6s linear;
				color: #323232;
				&:hover {
					color: #991a1c;
				}
			}
			ul {
				white-space: nowrap;
				padding: 15px;
				position: absolute;
				z-index: 7;
				left: 0;
				top: 100%;
				background: #fff;
				box-shadow: -19px 16px 17px -28px #fa0e33;
				min-width: 160px;
				border-left: 2px solid #fa0e33;
				display: none;
				li {
					margin-bottom: 7px;
					a {
						display: block;
						width: 100%;
						transition: color .6s linear;
						color: #323232;
						&:hover {
							color: #991a1c;
						}
					}
				}
			}
			&:hover {
				ul {
					display: block;
					animation: fadeIn .6s 1;
				}
			}
		}
		.owl-stage {
			.owl-item:last-child {
				margin-right: 0!important;
			}
		}
	}
}
.tests {
	.flex {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.left {
			width: calc(100% - 320px);
			.card {
				min-height: 440px;
				margin-bottom: 40px;
				.text {
					h2 {
						font-size: 35px;
						font-family: noto_serifbold;
						margin-bottom: 10px;
					}
					p {
						font-size: 17px;
					}
				}
			}
			.flex-child {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				flex-wrap: wrap;
				.heading {
					width: 100%;
				}
				.col {
					width: 33.333333%;
					padding-right: 30px;
					margin-bottom: 20px;
				}
			}
		}
		.right {
			width: 300px;
		}
	}
}
.section-links {
	.flex {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		.card {
			width: 386.5px;
			height: 250px;
			.text {
				font-size: 20px;
			}
		}
	}
}
.home-main {
	.flex {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.left {
			width: 386px;
			.default-link {
				display: block;
				.img-wrapper {
					display: block;
					overflow: hidden;
					width: 100%;
					height: 240px;
					margin-bottom: 25px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: .5s linear;
					}
				}
				&:hover {
					.img-wrapper {
						img {
							transform: scale(1.05);
						}
					}
				}
			}
		}
		.right {
			width: calc(100% - 406px);
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			flex-wrap: wrap;
			.col {
				width: 33.333333%;
				border-bottom: 1px solid #ebebeb;
				min-height: 120px;
				padding-top: 25px;
				padding-right: 30px;
				&:nth-child(n+7) {
					border: none;
				}
			}
		}
	}
}
.default-slider {
	.owl-carousel {
		.item {
			.default-link {
				display: block;
				.img-wrapper {
					display: block;
					overflow: hidden;
					width: 100%;
					height: 210px;
					margin-bottom: 25px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: .5s linear;
					}
				}
				&:hover {
					.img-wrapper {
						img {
							transform: scale(1.05);
						}
					}
				}
			}
		}
		.owl-next {
			display: block;
			width: 45px;
			height: 45px;
			transition: background-color .5s linear;
			background: url(../img/prev.png) no-repeat center;
			background-color: rgba(0, 0, 0, .5);
			cursor: pointer;
			position: absolute;
			left: 0;
			border-radius: 50%;
			top: 84px;
			animation: fadeIn .6s 1;
			background: url(../img/next.png) no-repeat center;
			right: 0;
			left: auto;
			background-color: rgba(0, 0, 0, .5);
			&:hover {
				background-color: rgba(0, 0, 0, .8);
				background-color: rgba(0, 0, 0, .8);
			}
		}
		.owl-prev {
			display: block;
			width: 45px;
			height: 45px;
			transition: background-color .5s linear;
			background: url(../img/prev.png) no-repeat center;
			background-color: rgba(0, 0, 0, .5);
			cursor: pointer;
			position: absolute;
			left: 0;
			border-radius: 50%;
			top: 84px;
			animation: fadeIn .6s 1;
			&:hover {
				background-color: rgba(0, 0, 0, .8);
			}
		}
		.owl-next.disabled {
			display: none;
		}
		.owl-prev.disabled {
			display: none;
		}
	}
}
.partition {
	.flex {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.col {
			width: 386.5px;
			.default-link.link-card {
				display: block;
				border-bottom: 1px solid #ebebeb;
				margin-bottom: 21px;
				.img-wrapper {
					display: block;
					overflow: hidden;
					width: 100%;
					height: 235.5px;
					margin-bottom: 20px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: .5s linear;
					}
				}
				&:hover {
					.img-wrapper {
						img {
							transform: scale(1.05);
						}
					}
				}
				.name {
					display: block;
					padding-bottom: 10px;
					min-height: 78px;
				}
			}
			ul {
				li {
					margin-bottom: 30px;
					.default-link {
						padding: 0;
						border: none;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
  &__mini {
    margin-bottom: 30px;
  }
}
.partners-slider {
	padding: 0 0 20px 0 !important;
	margin-bottom: 0;
	.owl-carousel {
		.item {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 55px;
				img {
					width: auto;
					max-width: 100%;
					max-height: 100%;
					display: block;
					margin: 0 auto;
					filter: grayscale(100%);
					transition: all .5s linear;
					opacity: .6;
				}
				&:hover {
					img {
						filter: grayscale(0);
						opacity: 1;
					}
				}
			}
		}
		.owl-next {
			display: block;
			width: 45px;
			height: 45px;
			transition: background-color .5s linear;
			background: url(../img/prev.png) no-repeat center;
			background-color: rgba(0, 0, 0, .5);
			cursor: pointer;
			position: absolute;
			left: 0;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
			animation: fadeIn .6s 1;
			background: url(../img/next.png) no-repeat center;
			right: 0;
			left: auto;
			background-color: rgba(0, 0, 0, .5);
			&:hover {
				background-color: rgba(0, 0, 0, .8);
				background-color: rgba(0, 0, 0, .8);
			}
		}
		.owl-prev {
			display: block;
			width: 45px;
			height: 45px;
			transition: background-color .5s linear;
			background: url(../img/prev.png) no-repeat center;
			background-color: rgba(0, 0, 0, .5);
			cursor: pointer;
			position: absolute;
			left: 0;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
			animation: fadeIn .6s 1;
			&:hover {
				background-color: rgba(0, 0, 0, .8);
			}
		}
		.owl-next.disabled {
			display: none;
		}
		.owl-prev.disabled {
			display: none;
		}
	}
}
.partners-slider.gray {
	background: #f3f3f3;
	padding: 20px 0 !important;
}

footer {
	background: #000;
	padding: 40px 0;
	.flex {
		color: #ababab;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.left {
			width: 255px;
			.logo {
				display: inline-block;
				margin-bottom: 27px;
			}
			.magazine-wrapper {
				display: flex;
				align-items: flex-end;
				margin-bottom: 27px;
				>div {
					&:first-child {
						margin-right: 20px;
						img {
							max-width: 143px;
						}
					}
					&:last-child {
						a {
							display: inline-block;
							color: #ababab;
							transition: color .6s linear;
							&:hover {
								color: #991a1c;
							}
						}
						a.archive {
							margin-bottom: 28px;
							font-size: 15px;
						}
						a.d-magaz {
							font-size: 13px;
						}
						ul {
							margin-top: 6px;
							li {
								margin-bottom: 5px;
								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
			>p {
				font-size: 13px;
			}
		}
		.center {
			width: 580px;
			padding-top: 25px;
			.socials {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 70px;
				>p {
					margin-right: 15px;
					font-size: 16px;
				}
				ul {
					display: flex;
					align-items: center;
					li {
						margin-right: 10px;
						a {
							font-size: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 50%;
							color: #ababab;
							transition: .5s;
							svg {
								height: 18px;
							}
							&:hover {
								color: #fff;
								box-shadow: 0 0 18px -10px #000;
							}
						}
					}
				}
			}
			.footer-menu {
				display: flex;
				align-items: center;
				justify-content: space-around;
				flex-wrap: wrap;
				li {
					margin: 0 10px 30px;
					a {
						color: #ababab;
						font-size: 16px;
						transition: color .6s linear;
						&:hover {
							color: #991a1c;
						}
					}
				}
			}
		}
		.right {
			width: 255px;
			text-align: right;
			.logo {
				display: inline-block;
				margin-bottom: 20px;
			}
			.magazine-wrapper {
				display: flex;
				align-items: flex-end;
				margin-bottom: 27px;
				flex-direction: row-reverse;
				>div {
					&:first-child {
						margin-left: 20px;
						img {
							max-width: 143px;
						}
					}
					&:last-child {
						a {
							display: inline-block;
							color: #ababab;
							transition: color .6s linear;
							&:hover {
								color: #991a1c;
							}
						}
						a.archive {
							margin-bottom: 28px;
							font-size: 15px;
						}
						a.d-magaz {
							font-size: 13px;
						}
						ul {
							margin-top: 6px;
							li {
								margin-bottom: 5px;
								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
			>p {
				font-size: 13px;
			}
		}
		.right.xs {
			display: none;
		}
		.copyright {
			text-align: center;
			font-size: 14px;
			padding-top: 40px;
		}
	}
}
.error-code-wrapper {
	text-align: center;
	min-height: 445px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	>img {
		max-width: 100%;
	}
	>p {
		font-size: 22px;
		margin: 27px 0;
	}
	>a {
		display: inline-block;
		font-size: 16px;
		color: #991a1c;
	}
}
.archives-col-wrapper {
	.select-filter {
		display: flex;
		align-items: center;
		margin-bottom: 45px;
		.year {
			display: flex;
			align-items: center;
			margin-left: 25px;
			>p {
				margin-right: 16px;
				font-size: 15px;
				color: #6f6f6f;
			}
		}
	}
	.flex-archive-cards {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		.archive-card {
			margin-right: 20px;
			width: 280px;
			text-align: center;
			color: #000;
			font-size: 16px;
			margin-bottom: 40px;
			transition: color .6s linear;
			&:hover {
				color: #991a1c;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
			>span {
				display: flex;
  		  margin-bottom: 10px;
  		  min-height: 40px;
  		  align-items: flex-end;
		    justify-content: center;
			}
			img {
				max-width: 100%;
			}
		}
	}
}
.card.lg {
	min-height: 440px;
	margin-bottom: 40px;
	.text {
		h1 {
			font-size: 35px;
			font-family: noto_serifbold;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 35px;
			font-family: noto_serifbold;
			margin-bottom: 10px;
		}
		p {
			font-size: 17px;
		}
	}
}
.card.lg.page-heading {
	min-height: 580px;
	.text {
		span {
			font-size: 16px;
			display: block;
			padding-top: 10px;
		}
	}
}
.section-cards-wrapper {
	.flex {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&.w-100 {
			width: 100%;
		}
		.default-link {
			display: block;
			width: 430px;
			margin-bottom: 30px;
			.img-wrapper {
				display: block;
				overflow: hidden;
				width: 100%;
				height: 248px;
				margin-bottom: 20px;
				&.brands {
					display: flex;
    			justify-content: center;
    			align-items: center;
  			  border: 1px solid #e8e8e8;
					img {
						height: auto;
  				  width: auto;
					}
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: .5s linear;
				}
			}
			&:hover {
				.img-wrapper {
					img {
						transform: scale(1.05);
					}
				}
			}
		}
		.pagination {
			position: relative;
			height: 52px;
			font-size: 16px;
			color: #000;
			border: 1px solid #c8c8c8;
			border-left: 0;
			padding: 0;
			margin: 0;
			border-radius: 0;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: center;
			.select_page {
				position: relative;
				padding: 0 30px;
				cursor: pointer;
				height: 100%;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				align-items: center;
				&.act {
					+ .nav-links {
						display: block;
					}
				}
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					left: 50px;
					bottom: 20px;
					border: 4px solid transparent;
					border-top: 4px solid #000;
				}
			}
			.nav-links {
				display: none;
				position: absolute;
				top: 50px;
				left: -1px;
				width: calc(100% + 2px);
				background: #fff;
				max-height: 250px;
				border: 1px solid #c8c8c8;
				border-top: 0;
				overflow: auto;
				z-index: 50;
				-ms-overflow-style: none;  /* IE 10+ */
				scrollbar-width: none; /* Firefox */
				&::-webkit-scrollbar { /* chrome based */
			    width: 0px;  /* ширина scrollbar'a */
			    background: transparent;  /* опционально */
				}
				a,span {
					display: block;
					text-align: center;
					color: #000;
					padding: 5px;
				}
				span {
					color: #ccc;
				}
			}
			.bg_pagination {
				display: none;
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				&.act {
					display: block;
				}
			}
		}
	}
}
.more-cards {
  // width: 100%;
	flex-grow: 1;
  cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #000;
	border: 1px solid #c8c8c8;
	height: 52px;
	background: 0 0;
	transition: .5s linear;
	&:focus {
		background: #c8c8c8;
		color: #000;
	}
	&:hover {
		background: #c8c8c8;
		color: #000;
	}
}
.breadcrumbs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 30px;
	li {
		margin-right: 20px;
		position: relative;
		color: #b6b6b6;
		font-size: 16px;
		&:after {
			content: "/";
			position: absolute;
			right: -13px;
			top: 1px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		a {
			color: #b6b6b6;
			transition: color .5s linear;
			&:hover {
				color: #991a1c;
			}
		}
		span {
			color: #b6b6b6;
		}
	}
}
.news-page {
	h5 {
		font-size: 20px;
		margin-bottom: 25px;
		font-weight: 700;
		line-height: 1.3;
	}
	.make {
		padding: 25px 85px;
		background: #f3f3f3;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;
		u {
			display: block;
			font-size: 16px;
			margin-bottom: 8px;
		}
		p {
			font-family: noto_serifbold;
			font-size: 18px;
		}
		>div {
			&:first-child {
				p {
					font-size: 20px;
				}
			}
		}
	}
	>p {
		color: #3f3f3f;
		line-height: 1.4;
		margin-bottom: 20px;
		font-size: 18px;
	}
	.block-article-img-ttl {
			color: #838282;
	    font-size: 16px;
	    display: block;
	    margin-bottom: 30px;
	    margin-top: -10px;
	    line-height: 1.1;
	    text-align: center;
	}
	img {
		max-width: 100%;
		height:auto!important;
		display: block;
		margin:20px auto;
	}
	>img {
		margin-bottom: 23px;
	}
	center {
		color: #838282;
		font-size: 16px;
		display: block;
		margin-bottom: 30px;
		margin-top: -10px;
		line-height: 1.1;
	}
	.owl-carousel {
		margin-bottom: 30px;
		.owl-next {
			display: block;
			width: 45px;
			height: 45px;
			transition: background-color .5s linear;
			background: url(../img/prev.png) no-repeat center;
			background-color: rgba(0, 0, 0, .5);
			cursor: pointer;
			position: absolute;
			left: 10px;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
			animation: fadeIn .6s 1;
			background: url(../img/next.png) no-repeat center;
			right: 10px;
			left: auto;
			background-color: rgba(0, 0, 0, .5);
			&:hover {
				background-color: rgba(0, 0, 0, .8);
				background-color: rgba(0, 0, 0, .8);
			}
		}
		.owl-prev {
			display: block;
			width: 45px;
			height: 45px;
			transition: background-color .5s linear;
			background: url(../img/prev.png) no-repeat center;
			background-color: rgba(0, 0, 0, .5);
			cursor: pointer;
			position: absolute;
			left: 10px;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
			animation: fadeIn .6s 1;
			&:hover {
				background-color: rgba(0, 0, 0, .8);
			}
		}
		.owl-next.disabled {
			display: none;
		}
		.owl-prev.disabled {
			display: none;
		}
		.owl-dots {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 3;
			bottom: 17px;
			left: 50%;
			transform: translateX(-50%);
			.owl-dot {
				cursor: pointer;
				width: 11px;
				height: 11px;
				margin: 0 4px;
				border-radius: 50%;
				transition: background .5s linear;
				border: 1px solid #fff;
				&:hover {
					background: #fff;
				}
			}
			.owl-dot.active {
				background: #fff;
			}
		}
	}
	.flex-dd {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 25px;
		.left {
			.card {
				width: 386.5px;
				height: 250px;
			}
		}
		.right {
			width: calc(100% - 410px);
			font-size: 18px;
			p {
				line-height: 1.4;
			}
		}
	}
	.tab-section {
		margin-bottom: 30px;
		h4 {
			text-align: center;
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 25px;
		}
		.flex-tab {
			display: flex;
			align-items: stretch;
			.left {
				background: #f3f3f3;
				width: 260px;
				padding: 20px;
				.tab-menu {
					li {
						margin-bottom: 11px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							display: block;
							color: #3f3f3f;
							font-size: 18px;
							font-weight: 700;
							transition: color .5s linear;
							&:hover {
								color: #991a1c;
							}
						}
					}
					li.active {
						a {
							color: #991a1c;
						}
					}
				}
			}
			.right {
				width: calc(100% - 260px);
				border: 1px solid #f3f3f3;
				.tab-content {
					width: 100%;
					ul {
						li {
							padding: 9px 23px;
							font-size: 18px;
							color: #3f3f3f;
							border-bottom: 1px solid #f3f3f3;
							line-height: 1.1;
							&:last-child {
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
	.plus-minus {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 25px;
		.col {
			width: 380px;
			display: flex;
			align-items: flex-start;
			img {
				margin-right: 18px;
				margin-left: 0;
				width: 55px;
			}
			ul {
				font-size: 18px;
				color: #3f3f3f;
				li {
					margin-bottom: 8px;
				}
			}
		}
	}
	.video-wrap {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.rating {
	background: #f3f3f3;
	padding: 45px 35px;
	margin-bottom: 30px;
	.col {
		margin-bottom: 23px;
		>h3 {
			font-size: 20px;
			font-family: noto_serifbold;
		}
		>p {
			font-size: 16px;
			margin: 12px 0 8px 0;
			line-height: 1.4;
			width: 92%;
		}
		.rate-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.rate {
				width: 92%;
				height: 6px;
				background: #d6d6d6;
				position: relative;
				& + p {
					font-family: noto_serifbold;
    			font-size: 22px;
				}
				u {
					display: block;
					position: absolute;
					text-decoration: none !important;
					height: 100%;
					background: #17a0c7;
					left: 0;
					top: 0;
				}
			}
			>span {
				border-radius: 50%;
				width: 32px;
				height: 32px;
				background: #fff;
				color: #000;
				font-family: noto_serifbold;
				font-size: 18px;
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: .9;
				box-shadow: 0 0 15px rgba(183, 183, 183, .38);
			}
		}
	}
	.total {
		display: flex;
		align-items: center;
		justify-content: center;
		>p {
			font-size: 20px;
			font-family: noto_serifbold;
			margin-right: 19px;
		}
	}
}
p.heading {
	font-size: 24px;
	margin-bottom: 27px;
	font-weight: bold;
}
p.fz-20 {
	font-size: 20px;
}
.tags {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	li {
		margin-right: 15px;
		a {
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 36px;
			color: #000;
			background: #f3f3f3;
			transition: background .5s linear;
			padding: 0 11px;
			&:hover {
				background: #c8c8c8;
			}
		}
	}
}
.subscribe-form {
	background: #f3f3f3;
	padding: 30px 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	h4 {
		width: 100%;
		font-size: 18px;
		margin-bottom: 23px;
		font-family: noto_serifbold;
		text-align: center;
	}
	form {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-flow: wrap;
		.mailpoet_paragraph {
			&:nth-child(7) {
				width: 65%;
			}
			&:nth-child(8) {
				width: 35%;
			}
		}
	}
	.mailpoet_form {
		width: 100%;
	}
	.mailpoet_text {
		width: 100% !important;
		text-align: center;
		font-size: 16px;
		color: #000;
		line-height: 45px;
		background: #fff;
		border: none;
		&::-webkit-input-placeholder {
			color: #929292;
		}
		&::-moz-placeholder {
			color: #929292;
		}
		&:-ms-input-placeholder {
			color: #929292;
		}
		&:-moz-placeholder {
			color: #929292;
		}
	}
	.mailpoet_submit {
		width: 100% !important;
		border: none;
		line-height: 45px;
		background: #6e6e6e;
		color: #fff;
		font-size: 16px;
		transition: background .5s linear;
		&:hover {
			background: #991a1c;
		}
	}
}
.table-container {
	h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
	}
	.gray-table {
		margin: 30px 0;
		border: 1px solid #f3f3f3;
		tr {
			border-bottom: 1px solid #f3f3f3;
			td {
				&:first-child {
					background: #f3f3f3;
					padding: 10px 20px;
					width: 25%;
					max-width: 260px;
				}
				&:last-child {
					padding: 10px 20px;
				}
			}
		}
	}
}
.ya-share2 {
		display: flex;
    justify-content: flex-end;
    margin: 20px 0 20px;
}
.tbl-characters {
		margin: 30px 0;
    border: 1px solid #f3f3f3;
		tr {
			td {
				padding: 10px 20px;
				&:first-child {
					background: #f3f3f3;
  			  padding: 10px 20px;
			    min-width: 25%;
  			  max-width: 260px;
				}
			}
			&.col00 {
				td {
					background: transparent;
					text-align: center;
				}
			}
		}
}

#menu-osnovnoe-menyu {
	&.owl-carousel {
		.owl-stage-outer {
			overflow: hidden;
		}
		.owl-prev {
			display: block;
    	width: 45px;
    	height: 45px;
  	  transition: background-color .5s linear;
  	  background: url(../img/prev.png) no-repeat center;
  	  background-color: rgba(0, 0, 0, 0.5);
  	  cursor: pointer;
  	  position: absolute;
  	  left: 0;
  	  border-radius: 50%;
  	  top: 50%;
  	  transform: translateY(-50%);
  	  animation: fadeIn .6s 1;
			&.disabled {
				display: none;
			}
		}
		.owl-next {
			display: block;
  	  width: 45px;
	    height: 45px;
	    transition: background-color .5s linear;
  	  background: url(../img/prev.png) no-repeat center;
  	  background-color: rgba(0, 0, 0, 0.5);
  	  cursor: pointer;
  	  position: absolute;
  	  left: 0;
  	  border-radius: 50%;
  	  top: 50%;
  	  transform: translateY(-50%);
  	  animation: fadeIn .6s 1;
  	  background: url(../img/next.png) no-repeat center;
  	  right: 0;
  	  left: auto;
  	  background-color: rgba(0, 0, 0, 0.5);
			&.disabled {
				display: none;
			}
		}
	}
}
ul.disc {
	padding-left: 25px;
	list-style: disc;
}
.block-ball {
	background: #f3f3f3;
	margin-bottom: 20px;
	tr td {
		padding: 20px;
	}
}
.ul-ball {
    text-align: left;
    float: left;
    list-style-type: none;
    list-style-position: outside;
    width: 100%;
		li {
			text-align: left;
    	float: left;
    	padding: 0px 4px 0px 0px;
		}
		img {
			margin: 0;
		}
}
.block-ballsr{
	width:90px;height:90px;background:url(/wp-content/themes/5koleso/img/bgr-ballsr.gif) no-repeat 0 0;background-size:cover;text-align:center !important;color:#ffffff;font-size:40px !important;line-height:90px;padding:0;margin-top:10px;margin-left:10px;font-size:13px;font-weight:900
}
.mobile_banners {display: none;}
.desktop_banners {display: block;margin: 10px auto;}
.section-cards-wrapper {
	.flex {
		&.search-pagination {
			.pagination {
				width: 100%;
    		border: none;
				.select_page {
					display: none;
				}
				.nav-links {
					position: relative;
  			  width: auto;
  			  display: flex;
  			  top: unset;
  			  left: unset;
			    border-top: 1px solid #c8c8c8;
  			  border-right: 0;
  			  margin: 0 auto;
					span, a {
						padding: 10px 15px;
						border-right: 1px solid #c8c8c8;
					}
				}
			}
		}
	}
}
td, th {
	padding: 20px;
}

@media only screen and (max-width:990px) {
	.progress {
		margin-bottom: 20px;
	}
}
@media (min-width:1200px) {
	.container {
		padding: 0;
		width: 1200px;
		.row {
			margin: 0;
		}
	}
}
@media (max-width:1199px) {
	.container {
		padding: 0 10px;
		.row {
			margin: 0 -10px;
		}
	}
	main {
		.flex {
			display: block;
			.left-col {
				width: 100%;
				margin-bottom: 25px;
			}
			.right-col {
				width: 100%;
				min-height: 50px;
			}
		}
	}
	.banner-1200x105 {
		display: none;
	}
	.banner-1200x288 {
		display: none;
	}
	.banner-300x600 {
		display: none;
	}
	header.container {
		padding-top: 30px;
	}
	.tests {
		.flex {
			.left {
				width: 100%;
			}
			display: block;
		}
	}
	.section-links {
		.flex {
			.card {
				padding: 0 15px 22px;
				width: 305px;
				height: 200px;
				.text {
					font-size: 16px;
				}
			}
		}
	}
	.home-main {
		.flex {
			.left {
				width: 305px;
				.default-link {
					.img-wrapper {
						height: 190px;
					}
				}
			}
			.right {
				width: 625px;
				.col {
					padding-top: 10px;
					padding-right: 10px;
					min-height: 96px;
				}
			}
		}
	}
	body {
		font-size: 16px;
	}
	.partition {
		.flex {
			.col {
				width: 305px;
				.default-link.link-card {
					.img-wrapper {
						height: 185px;
					}
				}
			}
		}
	}
	footer {
		.flex {
			.center {
				.footer-menu {
					li {
						margin: 0 4px 32px;
					}
				}
			}
		}
	}
	.archives-col-wrapper {
		.flex-archive-cards {
			.archive-card {
				width: 302px;
			}
		}
	}
	.section-cards-wrapper {
		.flex {
			.default-link {
				width: 460px;
				.img-wrapper {
					height: 253px;
				}
			}
		}
	}
}
@media (min-width:768px) and (max-width:1200px) {
	.partition.wrap {
		.heading {
			flex-wrap:wrap;
			h6 {
				width: 100%;
			}
		}
	}
}
@media (max-width:991px) {
	body {
		font-size: 14px;
	}
	main {
		margin-bottom: 25px;
	}
	section {
		margin-bottom: 25px;
	}
	main.gray {
		padding: 25px 0;
	}
	section.gray {
		padding: 25px 0;
	}
	.heading {
		margin-bottom: 15px;
		h6 {
			font-size: 20px;
			margin-right: 14px;
		}
		a.more {
			font-size: 13px;
		}
	}
	u.sticker {
		left: 10px;
		top: 10px;
		padding: 0 10px;
		height: 21px;
		font-size: 14px;
	}
	.card {
		padding: 0 15px 30px 15px;
		font-size: 16px;
	}
	.primary-menu {
		font-size: 16px;
	}
	header {
		.primary-menu {
			>li {
				margin: 0 23px;
				position: relative;
				&:first-child {
					margin: 0 23px;
					position: relative;
				}
				&:last-child {
					margin: 0 23px;
					position: relative;
				}
			}
			margin-left: 0;
			margin-right: 0;
			&.owl-carousel {
				.owl-stage {
					display: flex;
  		 	  align-items: center;
  			  justify-content: space-between;
  			  flex-wrap: wrap;
  		 	  font-size: 18px;
					min-height: 35px;
				}
			}
		}
		overflow: hidden;
		.text-center.logo {
			margin-bottom: 30px;
			// text-align: left;
			a {
				img {
					max-width: 240px;
				}
			}
			form {
				.form-wrapper {
					height: 47px;
				}
			}
		}
	}
	#menu-osnovnoe-menyu{
		&.owl-carousel {
			.owl-next {
				width: 35px;
  		  height: 35px;
			}
			.owl-prev {
				width: 35px;
  		  height: 35px;
			}
		}
	}
	.card.lg {
		min-height: 366px;
		.text {
			h1 {
				font-size: 30px;
			}
			h2 {
				font-size: 30px;
			}
			p {
				font-size: 20px;
			}
		}
	}
	.card.lg.page-heading {
		min-height: 366px;
	}
	.tests {
		.flex {
			.left {
				.card {
					min-height: 366px;
					.text {
						h2 {
							font-size: 30px;
						}
						p {
							font-size: 20px;
						}
					}
				}
				.flex-child {
					.col {
						padding-right: 20px;
					}
				}
			}
		}
	}
	.section-links {
		.flex {
			.card {
				width: 236px;
				height: 151px;
				padding: 0 10px 10px;
				.text {
					font-size: 16px;
				}
			}
		}
	}
	.home-main {
		.flex {
			.left {
				width: 236px;
				.default-link {
					.img-wrapper {
						height: 143px;
					}
				}
			}
			.right {
				width: 482px;
				.col {
					padding-top: 5px;
					padding-right: 5px;
					min-height: 95px;
				}
			}
		}
	}
	.default-slider {
		.owl-carousel {
			.item {
				.default-link {
					.img-wrapper {
						height: 130px;
					}
				}
			}
			.owl-next {
				display: none;
			}
			.owl-prev {
				display: none;
			}
		}
	}
	.partition {
		.flex {
			.col {
				width: 236px;
				.default-link.link-card {
					.img-wrapper {
						height: 141px;
						margin-bottom: 10px;
					}
					.name {
						min-height: 83px;
					}
				}
				ul {
					li {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
	footer {
		.flex {
			.center {
				.socials {
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-bottom: 22px;
					>p {
						font-size: 14px;
						margin: 0 0 10px 0;
					}
					ul {
						li {
							&:last-child {
								margin-right: 0;
							}
						}
					}
				}
				.footer-menu {
					li {
						margin: 0 2px 2px;
						a {
							font-size: 14px;
						}
					}
				}
				width: 195px;
			}
			.left {
				.magazine-wrapper {
					>div {
						&:first-child {
							img {
								max-width: 108px;
							}
							margin-right: 10px;
						}
					}
				}
				width: 230px;
			}
			.right {
				.magazine-wrapper {
					>div {
						&:first-child {
							img {
								max-width: 108px;
							}
							margin-left: 10px;
						}
					}
				}
				.logo {
					margin-bottom: 20px;
				}
				width: 230px;
			}
			.copyright {
				font-size: 12px;
				padding-top: 27px;
			}
		}
		padding: 25px 0;
	}
	.error-code-wrapper {
		>p {
			font-size: 20px;
		}
	}
	h1 {
		font-size: 26px;
	}
	.archives-col-wrapper {
		.flex-archive-cards {
			.archive-card {
				width: 230px;
				margin-bottom: 30px;
			}
		}
	}
	.section-cards-wrapper {
		.flex {
			.default-link {
				width: 357px;
				.img-wrapper {
					height: 197px;
				}
			}
		}
	}
	.breadcrumbs {
		li {
			font-size: 14px;
		}
	}
	.news-page {
		.make {
			padding: 25px;
		}
	}
	.rating {
		padding: 25px;
	}
}
@media (max-width:767px) {
	iframe {
		max-width: 100%;
	}
	.mobile_banners {display: block;margin:10px auto;}
	.desktop_banners {display: none;}
	div[id^=AdFox_banner_] {margin: 0 auto;}
	.partition__mini {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}
	.heading {
		h6 {
			font-size: 24px;
		}
	}
	.card {
		padding: 0 10px 20px 10px;
		font-size: 14px;
	}
	.primary-menu {
		font-size: 14px;
	}
	header .text-center.logo .form_search .search_button {
		bottom: 0;
		right: 0;
	}
	header .text-center.logo .form_search.act .search_button {
		top: 5px;
		right: 0;
	}
	header {
		.primary-menu {
			margin: 0;
			padding: 62px 15px 15px;
			display: block;
			position: fixed;
			z-index: 50;
			top: 0;
			left: -100%;
			width: 90%;
			height: 100%;
			background: #fff;
			transition: .5s linear;
			overflow: auto;
			box-shadow: 0 0 12px rgba(0, 0, 0, .51);
			li {
				margin: 0 0 4px 0;
				&:first-child {
					margin: 0 0 4px 0;
					a {
						font-size: 18px;
						display: block;
						padding: 5px 0;
					}
				}
				&:last-child {
					margin: 0 0 4px 0;
					a {
						font-size: 18px;
						display: block;
						padding: 5px 0;
					}
				}
				a {
					font-size: 18px;
					display: block;
					padding: 5px 0;
				}
			}
			>li {
				>ul {
					display: block;
					position: static;
					width: 100%;
					box-shadow: none;
					border-bottom: 1px solid #eee;
					animation: none !important;
					padding: 10px;
					margin-bottom: 10px;
				}
			}
		}
		.primary-menu.active {
			left: 0;
		}
		.text-center.logo {
			form {
				.form-wrapper {
					width: calc(100vw - 20px);
					height: 37px;
					input {
						font-size: 14px;
						-webkit-box-shadow: inset -80px 0 0 0 #fff;
						-moz-box-shadow: inset -80px 0 0 0 #fff;
						box-shadow: inset -80px 0 0 0 #fff;
						color: transparent;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
						&::-webkit-input-placeholder {
							color: transparent;
						}
						&::-moz-placeholder {
							color: transparent;
						}
						&:-ms-input-placeholder {
							color: transparent;
						}
						&:-moz-placeholder {
							color: transparent;
						}
						&:focus {
							padding-left: 15px;
							padding-right: 90px;
							color: #000;
							&::-webkit-input-placeholder {
								color: #929292;
							}
							&::-moz-placeholder {
								color: #929292;
							}
							&:-ms-input-placeholder {
								color: #929292;
							}
							&:-moz-placeholder {
								color: #929292;
							}
						}
					}
					button {
						right: 10px;
					}
				}
			}
			a {
				img {
					max-width: 190px;
					max-height: 48px;
				}
			}
			margin-bottom: 0;
			a.active {
				position: relative;
				z-index: 55;
			}
		}
		margin-bottom: 15px;
	}
	header.container {
		padding-top: 15px;
	}
	.toggle-menu {
		display: block;
		width: 25px;
		height: 25px;
		border: none;
		background: url(../img/menu.svg) no-repeat center;
		background-size: 100% 100%;
		position: absolute;
		z-index: 3;
		// right: 45px;
		left: 0;
		bottom: 2px;
		color:transparent;
		font-size: 0;
		&.active {
			z-index: 55;
  	  background: none;
    	color: #000;
    	font-size: 20px;
		}
	}
	.menu-overlay {
		display: none;
		background: rgba(0, 0, 0, .5);
		position: fixed;
		z-index: 49;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.menu-overlay.active {
		animation: fadeIn .5s 1;
		display: block;
	}
	.card.lg {
		min-height: 198px;
		margin-bottom: 20px;
		.text {
			h1 {
				font-size: 22px;
				margin-bottom: 5px;
			}
			h2 {
				font-size: 23px;
				margin-bottom: 5px;
			}
		}
		.card {
			.text {
				p {
					font-size: 18px;
				}
			}
		}
	}
	.card.lg.page-heading {
		min-height: 300px;
		margin-bottom: 20px;
		.text {
			span {
				font-size: 14px;
			}
		}
	}
	.tests {
		.flex {
			.left {
				.card {
					min-height: 250px;
					margin-bottom: 20px;
					.text {
						h2 {
							font-size: 16px;
							margin-bottom: 5px;
						}
						p {
							font-size: 18px;
						}
					}
				}
				.flex-child {
					display: block;
					.col {
						padding-right: 20px;
						margin-bottom: 15px;
						padding-bottom: 10px;
						border-bottom: 1px solid #ebebeb;
						width: 100%;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	.section-links {
		.flex {
			display: block;
			.card {
				width: 100%;
				margin-bottom: 15px;
				height: 250px;
			}
		}
	}
	.home-main {
		.flex {
			display: block;
			.left {
				width: 100%;
				margin-bottom: 15px;
				.default-link {
					.img-wrapper {
						height: 250px;
					}
				}
			}
			.right {
				width: 100%;
				.col {
					width: 100%;
					padding: 0;
					margin-bottom: 15px;
					min-height: auto;
					padding-bottom: 10px;
					&:nth-child(n+7) {
						border-bottom: 1px solid #ebebeb;
					}
					&:last-child {
						border-bottom: none;
						margin-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}
	.default-slider {
		.owl-carousel {
			.item {
				.default-link {
					.img-wrapper {
						height: 250px;
					}
				}
			}
			.owl-stage-outer {
				margin-left: -29px;
			}
		}
	}
	.partition {
		.flex {
			display: block;
			.col {
				width: 100%;
				margin-bottom: 20px;
				.default-link.link-card {
					.name {
						min-height: auto;
					}
					.img-wrapper {
						height: 237px;
					}
				}
			}
		}
	}
	.news-page {
		.owl-carousel {
			.owl-next {
				display: none;
			}
			.owl-prev {
				display: none;
			}
			.owl-stage-outer {
				margin: 0;
				overflow: hidden;
			}
		}
		h5 {
			font-size: 18px;
		}
		.make {
			display: block;
			padding: 15px 10px;
			>div {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
				p {
					font-size: 18px;
				}
				&:first-child {
					p {
						font-size: 18px;
					}
				}
			}
			u {
				font-size: 14px;
				margin-bottom: 6px;
			}
		}
		>p {
			font-size: 15px;
		}
		center {
			font-size: 13px;
		}
		.flex-dd {
			display: block;
			.left {
				.card {
					width: 100%;
				}
			}
			.right {
				width: 100%;
				font-size: 14px;
			}
		}
		.tab-section {
			.flex-tab {
				display: block;
				.left {
					.tab-menu {
						li {
							a {
								font-size: 16px;
							}
							margin-bottom: 5px;
						}
					}
					width: 100%;
				}
				.right {
					.tab-content {
						ul {
							li {
								font-size: 16px;
							}
						}
					}
					width: 100%;
				}
			}
		}
		.plus-minus {
			display: block;
			.col {
				width: 100%;
				&:first-child {
					margin-bottom: 20px;
				}
				ul {
					li {
						font-size: 16px;
						margin-bottom: 4px;
						font-size: 14px;
					}
				}
			}
		}
	}
	.partners-slider {
		.owl-carousel {
			.owl-next {
				display: none;
			}
			.owl-prev {
				display: none;
			}
		}
	}
	footer {
		.flex {
			display: block;
			.center {
				width: 100%;
				text-align: center;
				padding: 0;
			}
			.left {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
				margin-bottom: 30px;
				.magazine-wrapper {
					>div {
						&:first-child {
							width: 100%;
							text-align: center;
							margin-right: 0;
							margin-bottom: 15px;
							img {
								max-width: 100%;
							}
						}
						&:last-child {
							a.archive {
								margin-bottom: 0;
							}
							ul {
								display: flex;
								align-items: center;
								justify-content: center;
								display: none;
								li {
									&:first-child {
										margin-right: 10px;
									}
								}
							}
							text-align: center;
							a {
								margin: 0 10px;
							}
						}
					}
					display: block;
					margin-bottom: 4px;
				}
				.logo {
					img {
						max-width: 180px;
					}
				}
			}
			.right {
				width: 100%;
				text-align: center;
				margin-bottom: 30px;
				.logo {
					display: none;
				}
				.magazine-wrapper {
					>div {
						&:first-child {
							width: 100%;
							text-align: center;
							margin-right: 0;
							margin-bottom: 15px;
							margin-left: 0;
							img {
								max-width: 100%;
							}
						}
						&:last-child {
							a.archive {
								margin-bottom: 0;
							}
							ul {
								display: flex;
								align-items: center;
								justify-content: center;
								margin-top: 14px;
								li {
									&:first-child {
										margin-right: 10px;
									}
								}
							}
							text-align: center;
							a {
								margin: 0 10px;
							}
						}
					}
					display: block;
					margin-bottom: 4px;
				}
			}
			.right.large {
				display: none !important;
			}
			.right.xs {
				display: block;
			}
		}
	}
	body.active {
		position: relative;
		overflow: hidden !important;
	}
	html.active {
		position: relative;
		overflow: hidden !important;
	}
	.error-code-wrapper {
		>p {
			font-size: 16px;
		}
		>a {
			font-size: 14px;
		}
		min-height: auto;
		padding-top: 35px;
		padding-bottom: 35px;
	}
	h1 {
		font-size: 24px;
	}
	.archives-col-wrapper {
		.flex-archive-cards {
			.archive-card {
				display: block;
				margin-right: auto !important;
				margin-left: auto !important;
				width: 100%;
				max-width: 400px;
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			display: block;
		}
		.select-filter {
			.year {
				margin-left: 10px;
				>p {
					margin-right: 5px;
					font-size: 14px;
				}
			}
			margin-bottom: 30px;
		}
	}
	select {
		padding-left: 14px;
		height: 30px;
	}
	.section-cards-wrapper {
		.flex {
			.default-link {
				width: 100%;
				.img-wrapper {
					height: 240px;
				}
			}
		}
	}
	.more-cards {
		height: 40px;
	}
	.rating {
		display: block;
		padding: 15px 10px;
		.col {
			>p {
				font-size: 14px;
				margin: 8px 0;
				line-height: 1.2;
			}
			>h3 {
				font-size: 18px;
			}
			.rate-wrapper {
				.rate {
					width: 85%;
				}
			}
		}
		.total {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			p {
				margin: 0 0 10px 0;
				font-size: 16px;
			}
		}
	}
	.breadcrumbs {
		display: none;
	}
	.tags {
		flex-wrap: wrap;
		li {
			a {
				line-height: 33px;
				font-size: 13px;
			}
			&:last-child {
				margin-right: 0;
			}
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}
	.subscribe-form {
		padding: 15px 10px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		button {
			width: 100%;
			margin-bottom: 5px;
		}
		input {
			width: 100%;
			margin-bottom: 5px;
		}
	}
}
@media (max-width:480px) {
	td, th {
		padding: 10px;
	}
	.default-slider {
		.owl-carousel {
			.item {
				.default-link {
					.img-wrapper {
						height: 183px;
					}
				}
			}
		}
	}
	.partition {
		.flex {
			.col {
				.default-link.link-card {
					.img-wrapper {
						height: 235px;
					}
				}
			}
		}
	}
	.section-cards-wrapper {
		.flex {
			.default-link {
				.img-wrapper {
					height: 218px;
				}
			}
		}
	}
}
@media (max-width:380px) {
	.default-slider {
		.owl-carousel {
			.item {
				.default-link {
					.img-wrapper {
						height: 163px;
					}
				}
			}
		}
	}
	.partition {
		.flex {
			.col {
				.default-link.link-card {
					.img-wrapper {
						height: 215px;
					}
				}
			}
		}
	}
	.section-links {
		.flex {
			.card {
				height: 224px;
			}
		}
	}
	.home-main {
		.flex {
			.left {
				.default-link {
					.img-wrapper {
						height: 220px;
					}
				}
			}
		}
	}
	.section-cards-wrapper {
		.flex {
			.default-link {
				.img-wrapper {
					height: 196px;
				}
			}
		}
	}
}
@media (max-width:340px) {
	.default-slider {
		.owl-carousel {
			.item {
				.default-link {
					.img-wrapper {
						height: 143px;
					}
				}
			}
		}
	}
	.partition {
		.flex {
			.col {
				.default-link.link-card {
					.img-wrapper {
						height: 180px;
					}
				}
			}
		}
	}
	.section-links {
		.flex {
			.card {
				height: 190px;
			}
		}
	}
	.home-main {
		.flex {
			.left {
				.default-link {
					.img-wrapper {
						height: 187px;
					}
				}
			}
		}
	}
	.section-cards-wrapper {
		.flex {
			.default-link {
				.img-wrapper {
					height: 166px;
				}
			}
		}
	}
	.breadcrumbs {
		display: none;
	}
}

.all_brands {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: wrap;
	.item {
		min-width: 25%;
		margin-bottom: 50px;
		text-align: center;
		a {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-flow: column;
			color: #000;
		}
		.img {
			margin-bottom: 15px;
		}
	}
}

.all_brands_box {
	border-top: 1px solid #f3f3f3;
	margin-top: 20px;
	padding-top: 10px;
	text-align: right;
	a {
		color: #000;
		background: #f3f3f3;
		padding: 4px 10px;
		font-size: 14px;
	}
	&.gray {
		border-top: 1px solid #fff;
		a {
			background: #fff;
		}
	}
}


.owl-carousel {
	.owl-stage-outer {
		overflow: hidden;
	}
	.owl-item {
		opacity: 0;
		img {
			margin: 0 auto;
		}
		&.active {
			opacity: 1;
		}
	}
}
section.gray,
.section.gray,
.default-slider {
	overflow: hidden;
}

.partners-slider {
	.owl-carousel {
		.owl-stage-outer {
			overflow: hidden;
		}
	}
}

@media (max-width: 767px) {
	header {
		overflow: unset;
	}
	header .text-center.logo .form_search.act {
		top: 72px;
	}
}
