@charset "UTF-8";
@font-face { font-family: noto_serifbold; src: url(../fonts/noto-serif-bold-webfont.woff2) format("woff2"), url(../fonts/noto-serif-bold-webfont.woff) format("woff"); font-weight: 400; font-style: normal; }

@font-face { font-family: Arimo; src: local("Arimo"), url(../fonts/arimo.woff2) format("woff2"), url(../fonts/arimo.woff) format("woff"), url(../fonts/arimo.ttf) format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: Arimo; src: local("Arimo Bold"), local("Arimo-Bold"), url(../fonts/arimobold.woff2) format("woff2"), url(../fonts/arimobold.woff) format("woff"), url(../fonts/arimobold.ttf) format("truetype"); font-weight: 700; font-style: normal; }

@font-face { font-family: Arimo; src: local("Arimo Italic"), local("Arimo-Italic"), url(../fonts/arimoitalic.woff2) format("woff2"), url(../fonts/arimoitalic.woff) format("woff"), url(../fonts/arimoitalic.ttf) format("truetype"); font-weight: 400; font-style: italic; }

@font-face { font-family: Arimo; src: local("Arimo Bold Italic"), local("Arimo-BoldItalic"), url(../fonts/arimobolditalic.woff2) format("woff2"), url(../fonts/arimobolditalic.woff) format("woff"), url(../fonts/arimobolditalic.ttf) format("truetype"); font-weight: 700; font-style: italic; }

@keyframes loading-10 { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% { -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes loading-9 { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% { -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } }

@keyframes loading-5 { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes loading-8 { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% { -webkit-transform: rotate(116deg);
    transform: rotate(116deg); } }

@keyframes loading-7 { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
    100% { -webkit-transform: rotate(70deg);
    transform: rotate(70deg); } }

  @keyframes loading-6 { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
        100% { -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

@keyframes loading-4 { 0% { -webkit-transform: rotate(0);
  transform: rotate(0); }
    100% { -webkit-transform: rotate(145deg);
  transform: rotate(145deg); }
}
@keyframes loading-3 { 0% { -webkit-transform: rotate(0);
  transform: rotate(0); }
    100% { -webkit-transform: rotate(110deg);
  transform: rotate(110deg); }
}
@keyframes loading-2 { 0% { -webkit-transform: rotate(0);
  transform: rotate(0); }
    100% { -webkit-transform: rotate(65deg);
  transform: rotate(65deg); }
}
@keyframes loading-1 { 0% { -webkit-transform: rotate(0);
  transform: rotate(0); }
    100% { -webkit-transform: rotate(35deg);
  transform: rotate(35deg); }
}

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

* { outline: 0 !important; }

body { font-family: Arimo; font-weight: 400; font-size: 17px; line-height: 1.3; }

ul { padding: 0; margin: 0; list-style: none; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-right: 35px; height: 33px; border-radius: 20px; border: 1px solid #d3d3d3; background: url(../img/select-a.png) no-repeat 85%; padding-left: 20px; }

h1 { margin: 0; font-weight: 400; font-size: 30px; font-family: noto_serifbold; font-weight: 400; margin-bottom: 25px; }

.main_h1 h1 {font-size: 24px;line-height: 1.2;}

h2, .h2 { margin: 0; font-weight: 400; }

h3 { margin: 0; font-weight: 400; }

h4 { margin: 0; font-weight: 400; }

h5 { margin: 0; font-weight: 400; }

h6, .h6 { margin: 0; font-weight: 400; }

p { margin: 0; font-weight: 400; }

a:focus { text-decoration: none; }

a:hover { text-decoration: none; }

u { text-decoration: none; }

table { width: 100% !important; }

main { margin-bottom: 37px; }

main .flex {position: relative;display: flex; align-items: flex-start; justify-content: space-between; align-items: stretch; }

main .flex .left-col { width: calc(100% - 320px); }

main .flex .right-col { width: 300px; }

main .flex .right-col.arhive { margin-top: 58px; }

main .flex .right-col iframe { max-width: 100% !important; text-align: center; }

main .flex .right-col img { max-width: 100% !important; text-align: center; }

main .flex .right-col object { max-width: 100% !important; text-align: center; }

main .flex .right-col svg { max-width: 100% !important; text-align: center; }

section { margin-bottom: 37px; }

.widget_text {margin: 10px auto!important;}

main.gray { background: #f3f3f3; padding: 40px 0 50px; }

section.gray { background: #f3f3f3; padding: 40px 0 50px; }

.progress { width: 116px; height: 116px; line-height: 150px; background: 0 0; box-shadow: none; position: relative; margin-left: 10px;margin-bottom: 0 !important; }

.progress:after { content: ""; width: 100%; height: 100%; border-radius: 50%; border: 5px solid #d6d6d6; position: absolute; top: 0; left: 0; }

.progress > span { width: 50%; height: 100%; overflow: hidden; position: absolute; top: 0; z-index: 1; }

.progress .progress-left { left: 0; }

.progress .progress-left .progress-bar { left: 100%; border-top-right-radius: 80px; border-bottom-right-radius: 80px; border-left: 0; -webkit-transform-origin: center left; transform-origin: center left; }

.progress .progress-bar { width: 100%; height: 100%; background: 0 0; border-width: 5px; border-style: solid; position: absolute; top: 0; }

.progress .progress-right { right: 0; }

.progress .progress-right .progress-bar { left: -100%; border-top-left-radius: 80px; border-bottom-left-radius: 80px; border-right: 0; -webkit-transform-origin: center right; transform-origin: center right; animation: loading-10 1.8s linear forwards; }

.progress .progress-value { width: 90%; height: 90%; border-radius: 50%; background: #44484b; font-size: 24px; color: #fff; line-height: 135px; text-align: center; position: absolute; top: 5%; left: 5%; display: flex; align-items: center; justify-content: center; background: 0 0; }

.progress .progress-value .total { display: block; border-radius: 50%; width: 78px; height: 78px; background: #fff; color: #000; font-family: noto_serifbold; font-size: 24px; display: flex; align-items: center; justify-content: center; line-height: .9; box-shadow: 0 0 15px rgba(183, 183, 183, 0.38); position: relative; z-index: 4; }

.progress.blue .progress-bar { border-color: #17a0c7; }

.progress.blue .progress-left .progress-bar { animation: loading-10 1.5s linear forwards 1.8s; }

.progress.blue .progress-left .progress-bar.pr10 {animation: loading-10 1.5s linear forwards 1.8s}
.progress.blue .progress-left .progress-bar.pr9 {animation: loading-9 1.5s linear forwards 1.8s}
.progress.blue .progress-left .progress-bar.pr8 {animation: loading-8 1.5s linear forwards 1.8s}
.progress.blue .progress-left .progress-bar.pr7 {animation: loading-7 1.5s linear forwards 1.8s}
.progress.blue .progress-left .progress-bar.pr6 {animation: loading-6 1.5s linear forwards 1.8s}
.progress.blue .progress-left .progress-bar.pr5 {animation: loading-5 1.5s linear forwards 1.8s}
.progress.blue .progress-right .progress-bar.pr4 {animation: loading-4 1.5s linear forwards 1.8s}
.progress.blue .progress-right .progress-bar.pr3 {animation: loading-3 1.5s linear forwards 1.8s}
.progress.blue .progress-right .progress-bar.pr2 {animation: loading-2 1.5s linear forwards 1.8s}
.progress.blue .progress-right .progress-bar.pr1 {animation: loading-1 1.5s linear forwards 1.8s}

.progress.yellow .progress-bar { border-color: #fdba04; }

.progress.yellow .progress-left .progress-bar { animation: loading-3 1s linear forwards 1.8s; }

.progress.pink .progress-bar { border-color: #ed687c; }

.progress.pink .progress-left .progress-bar { animation: loading-4 .4s linear forwards 1.8s; }

.progress.green .progress-bar { border-color: #1abc9c; }

.progress.green .progress-left .progress-bar { animation: loading-5 1.2s linear forwards 1.8s; }

.heading { display: flex; align-items: center; margin-bottom: 30px; }

.heading h6, .heading .h6 { font-family: noto_serifbold; display: inline-block; line-height: 1.2; font-size: 24px; color: #323232; font-weight: 400; margin-right: 16px; }

.heading a.more { display: inline-block; color: #858585; font-size: 14px; margin-top: 5px; transition: color .6s linear; }

.heading a.more:hover { color: #991a1c; }

.card { position: relative; color: #fff; padding: 0 22px 45px 22px; font-size: 20px; display: flex; align-items: flex-end; justify-content: flex-start; }

.card:after { content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: url(../img/card-overlay.png) no-repeat center; background-size: 100% 100%; z-index: 1; transition: opacity .6s linear; }

.card .card:after {
	display: none;
}

.card .text { display: block; position: relative; z-index: 3; color: #fff; transition: text-shadow .5s linear; width: 100%; }

.card:hover:after { opacity: .5; }

.card:hover .text { text-shadow: 1px 1px 2px #000; }

u.sticker { display: flex; align-items: center; justify-content: center; font-size: 15px; line-height: 1; height: 23px; padding: 0 2px; min-width: 70px; text-align: center; white-space: nowrap; position: absolute; z-index: 5; left: 22px; top: 22px; background: #ebebeb; color: #000; }

.default-link { display: inline-block; color: #000; transition: color .6s linear; }

.default-link:hover { color: #991a1c; }

.menu-overlay { display: none; }

.toggle-menu { display: none; }

.transition-color { transition: color .6s linear; }

.transition-background { transition: color .6s linear; }

.banner-1200x105 a { display: block; }

.banner-1200x105 img { width: 100%; }

.banner-1200x288 a { display: block; }

.banner-1200x288 img { width: 100%; }

.banner-300x600 a { display: block; }

/*.banner-300x600 img { width: 100%; }*/
.wp-block-embed__wrapper > iframe {
    width: 100%;
    height: 400px;
}

header { margin-bottom: 0; }

.topmenu-container {
  padding: 5px 0 15px;
      background: none;
      box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.2);
}

header .text-center.logo { margin-bottom: 40px; position: relative; }

header .text-center.logo a { position: relative; display: inline-block; z-index: 3; }

header .text-center.logo .form_search { position: absolute; right: 0; top: 0; z-index: 2; }

header .text-center.logo .search_button { position: absolute; right: 16px; top: 20px; width: 25px; height: 25px; background: url(../img/search-icon.png) no-repeat center; cursor: pointer; z-index: 99; }

header .text-center.logo .form_search.act { z-index: 500; }

header .text-center.logo .form_search.act .bg_search { display: block; }

header .text-center.logo .form_search.act input { width: 100% !important; padding-left: 23px; padding-right: 44px; }

header .text-center.logo .form_search.act .search_button { pointer-events: none; }

header .text-center.logo .form_search .bg_search { display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; }

header .text-center.logo form { position: relative; z-index: 100; }

header .text-center.logo form .form-wrapper { position: relative; width: 385px; height: 65px; }

header .text-center.logo form .form-wrapper button { padding: 0; margin: 0; border: none; width: 25px; height: 25px; background: transparent; position: absolute; z-index: 7; right: 15px; top: 50%; transform: translateY(-50%); }
header .text-center.logo.act form .form-wrapper button {background: url(../img/search-icon.png) no-repeat center;}
header .text-center.logo form .form-wrapper button:focus ~ input { width: 100%; padding-left: 23px; padding-right: 44px; }

header .text-center.logo form .form-wrapper input { border: none; background: #f7f7f7; transition: width .5s linear; height: 100%; border-radius: 0; color: #000; position: absolute; font-size: 16px; right: 0; width: 0 !important; font-size: 0; }

header .text-center.logo form .form-wrapper input::-webkit-input-placeholder { color: #929292; }

header .text-center.logo form .form-wrapper input::-moz-placeholder { color: #929292; }

header .text-center.logo form .form-wrapper input:-ms-input-placeholder { color: #929292; }

header .text-center.logo form .form-wrapper input:-moz-placeholder { color: #929292; }

header .text-center.logo form .form-wrapper input:focus { padding-left: 23px; padding-right: 44px; width: 100% !important; font-size: 16px; }

.primary-menu li { margin: 0 2px; position: relative; }

 .primary-menu li:first-child { margin-left: 0; }

 .primary-menu li:last-child { margin-right: 0; }

 .primary-menu li a  { transition: color .6s linear; color: #323232; }

 .primary-menu li a:hover { color: #991a1c; }

 .primary-menu li ul { white-space: nowrap; padding: 15px; position: absolute; z-index: 7; left: 0; top: 100%; background: #fff; box-shadow: -19px 16px 17px -28px #fa0e33; min-width: 160px; border-left: 2px solid #fa0e33; display: none; }

 .primary-menu li ul li { margin-bottom: 7px; }

 .primary-menu li ul li a { 
  
  display: block; width: 100%; transition: color .6s linear; color: #323232; }

 .primary-menu li ul li a:hover { color: #991a1c; }

 .primary-menu li:hover ul { display: block; animation: fadeIn .6s 1; }

 .primary-menu .owl-stage .owl-item:last-child { margin-right: 0 !important; }

.tests .flex { position: relative;display: flex; align-items: flex-start; justify-content: space-between; }

.tests .flex .left { width: calc(100% - 320px); }

.tests .flex .left .card { min-height: 440px; margin-bottom: 40px; }

.tests .flex .left .card .text h2, .tests .flex .left .card .text .h2 { font-size: 35px; font-family: noto_serifbold; margin-bottom: 10px; }

.tests .flex .left .card .text p { font-size: 17px; }

.tests .flex .left .flex-child { display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap; }

.tests .flex .left .flex-child .heading { width: 100%; }

.tests .flex .left .flex-child .col { width: 33.333333%; padding-right: 30px; margin-bottom: 20px; }

.tests .flex .left .flex-child .col.col__news {width: 50%;padding: 0 0 20px;border-bottom: 1px solid #ebebeb;}

.tests .flex .left .flex-child .col.col__news:nth-child(5), .tests .flex .left .flex-child .col.col__news:nth-child(6) {
  border: none; margin-bottom: 0;
}

.home-main .flex .right .col.col__news {width: 50%; padding: 10px 0 10px; border-bottom: 1px solid #ebebeb;}

.home-main .flex .right .col.col__news:nth-child(5), .home-main .flex .right .col.col__news:nth-child(6) {
  border: none; margin-bottom: 0;
}

.tests .flex .left .flex-child .col.col__news .name, .home-main .flex .right .col.col__news .name {margin: 5px 0 0;line-height: 1.2;padding: 0 20px;}

.home-main .flex .right .col.col__news img { width: 37%;  max-width: 175px;min-width: 37%;}

.tests .flex .right { width: 300px; /*min-width: 37%;*/ margin-top: -10px;}

.tests .default-link {display: flex;align-items: flex-start;}

.tests .default-link img {width: 37%; max-width: 175px;min-width: 37%;}

.section-links .flex { display: flex; align-items: stretch; justify-content: space-between; }

.section-links .flex .card { max-width: 386.5px; height: 250px; flex: 1 1 auto; margin-right:  20px;
    background-position: 34% center !important
 }

.section-links .flex .card .text { font-size: 20px; }

.home-main .flex { position: relative;display: flex; align-items: flex-start; justify-content: space-between; }

.home-main .flex .left { width: 386px; }

.home-main .flex .left .default-link { display: block; }

.home-main .flex .left .default-link .img-wrapper { display: block; overflow: hidden; width: 100%; height: 240px; margin-bottom: 25px; }

.home-main .flex .left .default-link .img-wrapper img { width: 100%; height: 100%; object-fit: cover; transition: .5s linear; }

.home-main .flex .left .default-link:hover .img-wrapper img { transform: scale(1.05); }

.home-main .flex .right { width: calc(100% - 406px); display: flex; align-items: stretch; justify-content: space-between; flex-wrap: wrap; }
.home-main .flex .right .default-link { display: flex; align-items: flex-start;}
.home-main .flex .right .col { width: 33.333333%; border-bottom: 1px solid #ebebeb; padding-top: 25px; padding-right: 30px; }

.home-main .flex .right .col:nth-child(n+7) { border: none; }

.default-slider .owl-carousel .item .default-link { display: block; }

.default-slider .owl-carousel .item .default-link .img-wrapper { display: block; overflow: hidden; width: 100%; height: 210px; margin-bottom: 25px; }

.default-slider .owl-carousel .item .default-link .img-wrapper img { width: 100%; height: 100%; object-fit: cover; transition: .5s linear; }

.default-slider .owl-carousel .item .default-link:hover .img-wrapper img { transform: scale(1.05); }

.default-slider .owl-carousel .owl-next { display: block; width: 45px; height: 45px; transition: background-color .5s linear; background: url(../img/prev.png) no-repeat center; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; position: absolute; left: 0; border-radius: 50%; top: 84px; animation: fadeIn .6s 1; background: url(../img/next.png) no-repeat center; right: 0; left: auto; background-color: rgba(0, 0, 0, 0.5); }

.default-slider .owl-carousel .owl-next:hover { background-color: rgba(0, 0, 0, 0.8); background-color: rgba(0, 0, 0, 0.8); }

.default-slider .owl-carousel .owl-prev { display: block; width: 45px; height: 45px; transition: background-color .5s linear; background: url(../img/prev.png) no-repeat center; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; position: absolute; left: 0; border-radius: 50%; top: 84px; animation: fadeIn .6s 1; }

.default-slider .owl-carousel .owl-prev:hover { background-color: rgba(0, 0, 0, 0.8); }

.default-slider .owl-carousel .owl-next.disabled { display: none; }

.default-slider .owl-carousel .owl-prev.disabled { display: none; }

.partition .flex { display: flex; align-items: flex-start; justify-content: space-between; }

.partition .flex .col { width: 386.5px; }

.partition .flex .col .default-link.link-card { display: block; border-bottom: 1px solid #ebebeb; margin-bottom: 25px; }

.partition .flex .col .default-link.link-card .img-wrapper { display: block; overflow: hidden; width: 100%; height: 235.5px; margin-bottom: 20px; }

.partition .flex .col .default-link.link-card .img-wrapper img { width: 100%; height: 100%; object-fit: cover; transition: .5s linear; }

.partition .flex .col .default-link.link-card:hover .img-wrapper img { transform: scale(1.05); }

.partition .flex .col .default-link.link-card .name { display: block; padding-bottom: 10px; min-height: 98px; }

.partition .flex .col ul li { margin-bottom: 30px; }

.partition .flex .col ul li .default-link { padding: 0; border: none; }

.partition .flex .col ul li:last-child { margin-bottom: 0; }

.partition__mini {
    min-height: 90px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;
}
.partition__mini:last-child {border:none;}

.partners-slider { padding: 0 0 20px 0 !important; margin-bottom: 0; }

.partners-slider .owl-carousel .item a { display: flex; align-items: center; justify-content: center; height: 55px; }

.partners-slider .owl-carousel .item a img { width: auto; max-width: 100%; max-height: 100%; display: block; margin: 0 auto; filter: grayscale(100%); transition: all .5s linear; opacity: .6; }

.partners-slider .owl-carousel .item a:hover img { filter: grayscale(0); opacity: 1; }

.partners-slider .owl-carousel .owl-next { display: block; width: 45px; height: 45px; transition: background-color .5s linear; background: url(../img/prev.png) no-repeat center; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; position: absolute; left: 0; border-radius: 50%; top: 50%; transform: translateY(-50%); animation: fadeIn .6s 1; background: url(../img/next.png) no-repeat center; right: 0; left: auto; background-color: rgba(0, 0, 0, 0.5); }

.partners-slider .owl-carousel .owl-next:hover { background-color: rgba(0, 0, 0, 0.8); background-color: rgba(0, 0, 0, 0.8); }

.partners-slider .owl-carousel .owl-prev { display: block; width: 45px; height: 45px; transition: background-color .5s linear; background: url(../img/prev.png) no-repeat center; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; position: absolute; left: 0; border-radius: 50%; top: 50%; transform: translateY(-50%); animation: fadeIn .6s 1; }

.partners-slider .owl-carousel .owl-prev:hover { background-color: rgba(0, 0, 0, 0.8); }

.partners-slider .owl-carousel .owl-next.disabled { display: none; }

.partners-slider .owl-carousel .owl-prev.disabled { display: none; }

.partners-slider.gray { background: #f3f3f3; padding: 20px 0 !important; }

footer { background: #000; padding: 40px 0; }

footer .flex { color: #ababab; display: flex; align-items: flex-start; justify-content: space-between; }

footer .flex .left { width: 255px; }

footer .flex .left .logo { display: inline-block; margin-bottom: 27px; }

footer .flex .left .magazine-wrapper { display: flex; align-items: flex-end; margin-bottom: 27px; }

footer .flex .left .magazine-wrapper > div:first-child { margin-right: 20px; }

footer .flex .left .magazine-wrapper > div:first-child img { max-width: 143px; }

footer .flex .left .magazine-wrapper > div:last-child a { display: inline-block; color: #ababab; transition: color .6s linear; }

footer .flex .left .magazine-wrapper > div:last-child a:hover { color: #991a1c; }

footer .flex .left .magazine-wrapper > div:last-child a.archive { margin-bottom: 28px; font-size: 15px; }

footer .flex .left .magazine-wrapper > div:last-child a.d-magaz { font-size: 13px; }

footer .flex .left .magazine-wrapper > div:last-child ul { margin-top: 6px; }

footer .flex .left .magazine-wrapper > div:last-child ul li { margin-bottom: 5px; }

footer .flex .left .magazine-wrapper > div:last-child ul li:last-child { margin-bottom: 0; }

footer .flex .left > p { font-size: 13px; }

footer .flex .center { width: 580px; padding-top: 25px; }

footer .flex .center .socials { display: flex; align-items: center; justify-content: center; margin-bottom: 70px; }

footer .flex .center .socials > p { margin-right: 15px; font-size: 16px; }

footer .flex .center .socials ul { display: flex; align-items: center; }

footer .flex .center .socials ul li { margin-right: 10px; }

footer .flex .center .socials ul li a { font-size: 0; display: flex; align-items: center; justify-content: center; border-radius: 50%; color: #ababab; transition: .5s; }

footer .flex .center .socials ul li a svg { height: 18px; }

footer .flex .center .socials ul li a:hover { color: #fff; box-shadow: 0 0 18px -10px #000; }

footer .flex .center .footer-menu { display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap; }

footer .flex .center .footer-menu li { margin: 0 10px 30px; }

footer .flex .center .footer-menu li a { color: #ababab; font-size: 16px; transition: color .6s linear; }

footer .flex .center .footer-menu li a:hover { color: #991a1c; }

footer .flex .right { width: 255px; text-align: right; }

footer .flex .right .logo { display: inline-block; margin-bottom: 20px; }

footer .flex .right .magazine-wrapper { display: flex; align-items: flex-end; margin-bottom: 27px; flex-direction: row-reverse; }

footer .flex .right .magazine-wrapper > div:first-child { margin-left: 20px; }

footer .flex .right .magazine-wrapper > div:first-child img { max-width: 143px; }

footer .flex .right .magazine-wrapper > div:last-child a { display: inline-block; color: #ababab; transition: color .6s linear; }

footer .flex .right .magazine-wrapper > div:last-child a:hover { color: #991a1c; }

footer .flex .right .magazine-wrapper > div:last-child a.archive { margin-bottom: 28px; font-size: 15px; }

footer .flex .right .magazine-wrapper > div:last-child a.d-magaz { font-size: 13px; }

footer .flex .right .magazine-wrapper > div:last-child ul { margin-top: 6px; }

footer .flex .right .magazine-wrapper > div:last-child ul li { margin-bottom: 5px; }

footer .flex .right .magazine-wrapper > div:last-child ul li:last-child { margin-bottom: 0; }

footer .flex .right > p { font-size: 13px; }

footer .flex .right.xs { display: none; }

footer .flex .copyright { text-align: center; font-size: 14px; padding-top: 40px; }

.error-code-wrapper { text-align: center; min-height: 445px; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.error-code-wrapper > img { max-width: 100%; }

.error-code-wrapper > p { font-size: 22px; margin: 27px 0; }

.error-code-wrapper > a { display: inline-block; font-size: 16px; color: #991a1c; }

.archives-col-wrapper .select-filter { display: flex; align-items: center; margin-bottom: 45px; }

.archives-col-wrapper .select-filter .year { display: flex; align-items: center; margin-left: 25px; }

.archives-col-wrapper .select-filter .year > p { margin-right: 16px; font-size: 15px; color: #6f6f6f; }

.archives-col-wrapper .flex-archive-cards { display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap; }

.archives-col-wrapper .flex-archive-cards .archive-card { margin-right: 20px; width: 280px; text-align: center; color: #000; font-size: 16px; margin-bottom: 40px; transition: color .6s linear; }

.archives-col-wrapper .flex-archive-cards .archive-card:hover { color: #991a1c; }

.archives-col-wrapper .flex-archive-cards .archive-card:nth-child(3n) { margin-right: 0; }

.archives-col-wrapper .flex-archive-cards .archive-card > span {display:flex;margin-bottom:10px;min-height:40px;align-items:flex-end;justify-content:center}

.archives-col-wrapper .flex-archive-cards .archive-card img { max-width: 100%; }

.card.lg { min-height: 440px; margin-bottom: 40px; }

.card.lg .text h1 { font-size: 35px; font-family: noto_serifbold; margin-bottom: 10px; }

.card.lg .text h2, .card.lg .text .h2 { font-size: 35px; font-family: noto_serifbold; margin-bottom: 10px; }

.card.lg .text p { font-size: 17px; }

.card.lg.page-heading { min-height: 580px; }

.card.lg.page-heading .text span { font-size: 16px; display: block; padding-top: 10px; }

.section-cards-wrapper .flex { display: flex; justify-content: space-between; flex-wrap: wrap; }

.section-cards-wrapper .flex.w-100 { width: 100%; }

.section-cards-wrapper .flex .default-link { display: block; width: 430px; margin-bottom: 30px; }

.section-cards-wrapper .flex .default-link .img-wrapper { display: block; overflow: hidden; width: 100%; height: 248px; margin-bottom: 20px; }

.section-cards-wrapper .flex .default-link .img-wrapper.brands {display: flex; justify-content: center; align-items: center; border: 1px solid #e8e8e8;}

.section-cards-wrapper .flex .default-link .img-wrapper img { width: 100%; height: 100%; object-fit: cover; transition: .5s linear; }

.section-cards-wrapper .flex .default-link .img-wrapper.brands img {height: auto; width: auto;}

.section-cards-wrapper .flex .default-link:hover .img-wrapper img { transform: scale(1.05); }

.section-cards-wrapper .flex .pagination { position: relative; height: 52px; font-size: 16px; color: #000; border: 1px solid #c8c8c8; border-left: 0; padding: 0; margin: 0; border-radius: 0; display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; }

.section-cards-wrapper .flex .pagination .select_page { position: relative; padding: 0 30px; cursor: pointer; height: 100%; display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; }

.section-cards-wrapper .flex .pagination .select_page.act + .nav-links { display: block; top:35px;}

.section-cards-wrapper .flex .pagination .select_page:after { content: ''; display: inline-block; position: absolute; left: 50px; bottom: 20px; border: 4px solid transparent; border-top: 4px solid #000; }

.section-cards-wrapper .flex .pagination .nav-links { display: none; position: absolute; top: 50px; left: -1px; width: calc(100% + 2px); background: #fff; max-height: 250px; border: 1px solid #c8c8c8; border-top: 0; overflow: auto; z-index: 50; -ms-overflow-style: none; /* IE 10+ */ scrollbar-width: none; /* Firefox */ }

.section-cards-wrapper .flex .pagination .nav-links::-webkit-scrollbar { /* chrome based */ width: 0px; /* ширина scrollbar'a */ background: transparent; /* опционально */ }

.section-cards-wrapper .flex .pagination .nav-links a, .section-cards-wrapper .flex .pagination .nav-links span { display: block; text-align: center; color: #000; padding: 5px; }

.section-cards-wrapper .flex .pagination .nav-links span { color: #ccc; }

.section-cards-wrapper .flex .pagination .bg_pagination { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; }

.section-cards-wrapper .flex .pagination .bg_pagination.act { display: block; }

.more-cards { flex-grow: 1; cursor: pointer; text-align: center; display: flex; align-items: center; justify-content: center; font-size: 16px; color: #000; border: 1px solid #c8c8c8; height: 52px; background: 0 0; transition: .5s linear; }

.more-cards:focus { background: #c8c8c8; color: #000; }

.more-cards:hover { background: #c8c8c8; color: #000; }

.breadcrumbs { display: flex; align-items: center; flex-wrap: wrap; justify-content: flex-start; margin-bottom: 30px; }

.breadcrumbs li { margin-right: 20px; position: relative; color: #b6b6b6; font-size: 16px; }

.breadcrumbs li:after { content: "/"; position: absolute; right: -13px; top: 1px; }

.breadcrumbs li:last-child:after { display: none; }

.breadcrumbs li a { color: #b6b6b6; transition: color .5s linear; }

.breadcrumbs li a:hover { color: #991a1c; }

.breadcrumbs li span { color: #b6b6b6; }

.news-page {width: 100%;/*overflow-x: scroll;*/overflow-x: hidden;}

.news-page h5 { font-size: 20px; margin-bottom: 25px; font-weight: 700; line-height: 1.3; }

.news-page .make { padding: 25px 85px; background: #f3f3f3; display: flex; align-items: center; justify-content: space-between; margin-bottom: 25px; }

.news-page .make u { display: block; font-size: 16px; margin-bottom: 8px; }

.news-page .make p { font-family: noto_serifbold; font-size: 18px; }

.news-page .make > div:first-child p { font-size: 20px; }

.news-page > p { color: #3f3f3f; line-height: 1.4; margin-bottom: 20px; font-size: 18px; }

.news-page .block-article-img-ttl { color: #838282; font-size: 16px; display: block; margin-bottom: 30px; margin-top: -10px; line-height: 1.1; text-align: center; }

.news-page img { max-width: 100%; height: auto !important; display: block; margin: 20px auto; }

.news-page .post-ratings img {
	display: inline-block
}



.news-page > img { margin-bottom: 23px; }

.news-page center { color: #838282; font-size: 16px; display: block; margin-bottom: 30px; margin-top: -10px; line-height: 1.1; }

.news-page .owl-carousel { margin-bottom: 30px; }

.news-page .owl-carousel .owl-next { display: block; width: 45px; height: 45px; transition: background-color .5s linear; background: url(../img/prev.png) no-repeat center; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; position: absolute; left: 10px; border-radius: 50%; top: 50%; transform: translateY(-50%); animation: fadeIn .6s 1; background: url(../img/next.png) no-repeat center; right: 10px; left: auto; background-color: rgba(0, 0, 0, 0.5); }

.news-page .owl-carousel .owl-next:hover { background-color: rgba(0, 0, 0, 0.8); background-color: rgba(0, 0, 0, 0.8); }

.news-page .owl-carousel .owl-prev { display: block; width: 45px; height: 45px; transition: background-color .5s linear; background: url(../img/prev.png) no-repeat center; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; position: absolute; left: 10px; border-radius: 50%; top: 50%; transform: translateY(-50%); animation: fadeIn .6s 1; }

.news-page .owl-carousel .owl-prev:hover { background-color: rgba(0, 0, 0, 0.8); }

.news-page .owl-carousel .owl-next.disabled { display: none; }

.news-page .owl-carousel .owl-prev.disabled { display: none; }

.news-page .owl-carousel .owl-dots { display: flex; align-items: center; justify-content: center; position: absolute; z-index: 3; bottom: 17px; left: 50%; transform: translateX(-50%); }

.news-page .owl-carousel .owl-dots .owl-dot { cursor: pointer; width: 11px; height: 11px; margin: 0 4px; border-radius: 50%; transition: background .5s linear; border: 1px solid #fff; }

.news-page .owl-carousel .owl-dots .owl-dot:hover { background: #fff; }

.news-page .owl-carousel .owl-dots .owl-dot.active { background: #fff; }

.news-page .flex-dd { display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 25px; }

.news-page .flex-dd .left .card { width: 386.5px; height: 250px; }

.news-page .flex-dd .right { width: calc(100% - 410px); font-size: 18px; }

.news-page .flex-dd .right p { line-height: 1.4; }

.news-page .tab-section { margin-bottom: 30px; }

.news-page .tab-section h4 { text-align: center; font-size: 18px; font-weight: 700; margin-bottom: 25px; }

.news-page .tab-section .flex-tab { display: flex; align-items: stretch; }

.news-page .tab-section .flex-tab .left { background: #f3f3f3; width: 260px; padding: 20px; }

.news-page .tab-section .flex-tab .left .tab-menu li { margin-bottom: 11px; }

.news-page .tab-section .flex-tab .left .tab-menu li:last-child { margin-bottom: 0; }

.news-page .tab-section .flex-tab .left .tab-menu li a { display: block; color: #3f3f3f; font-size: 18px; font-weight: 700; transition: color .5s linear; }

.news-page .tab-section .flex-tab .left .tab-menu li a:hover { color: #991a1c; }

.news-page .tab-section .flex-tab .left .tab-menu li.active a { color: #991a1c; }

.news-page .tab-section .flex-tab .right { width: calc(100% - 260px); border: 1px solid #f3f3f3; }

.news-page .tab-section .flex-tab .right .tab-content { width: 100%; }

.news-page .tab-section .flex-tab .right .tab-content ul li { padding: 9px 23px; font-size: 18px; color: #3f3f3f; border-bottom: 1px solid #f3f3f3; line-height: 1.1; }

.news-page .tab-section .flex-tab .right .tab-content ul li:last-child { border-bottom: none; }

.news-page .plus-minus { display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 25px; }

.news-page .plus-minus .col { width: 380px; display: flex; align-items: flex-start; }

.news-page .plus-minus .col img { margin:0 18px 0 0;width: 55px; }

.news-page .plus-minus .col ul { font-size: 18px; color: #3f3f3f; }

.news-page .plus-minus .col ul li { margin-bottom: 8px; }

.news-page .video-wrap { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.news-page .video-wrap iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.rating { background: #f3f3f3; padding: 45px 35px; margin-bottom: 30px; }

.rating .col { margin-bottom: 23px; }

.rating .col > h3 { font-size: 20px; font-family: noto_serifbold; }

.rating .col > p { font-size: 16px; margin: 12px 0 8px 0; line-height: 1.4; width: 92%; }

.rating .col .rate-wrapper { display: flex; align-items: center; justify-content: space-between; }

.rating .col .rate-wrapper .rate { width: 92%; height: 6px; background: #d6d6d6; position: relative; }

.rating .col .rate-wrapper .rate + p {font-family: noto_serifbold; font-size: 22px;}

.rating .col .rate-wrapper .rate u { display: block; position: absolute; text-decoration: none !important; height: 100%; background: #17a0c7; left: 0; top: 0; }

.rating .col .rate-wrapper > span { border-radius: 50%; width: 32px; height: 32px; background: #fff; color: #000; font-family: noto_serifbold; font-size: 18px; display: flex; align-items: center; justify-content: center; line-height: .9; box-shadow: 0 0 15px rgba(183, 183, 183, 0.38); }

.rating .total { display: flex; align-items: center; justify-content: center; }

.rating .total > p { font-size: 20px; font-family: noto_serifbold; margin-right: 19px; }

p.heading { font-size: 24px; margin-bottom: 27px;font-weight: bold;}

p.fz-20 { font-size: 20px; }

.tags { display: flex; align-items: center; margin-bottom: 30px; }

.tags li { margin-right: 15px; }

.tags li a { display: inline-block; text-transform: uppercase; font-size: 14px; line-height: 36px; color: #000; background: #f3f3f3; transition: background .5s linear; padding: 0 11px; }

.tags li a:hover { background: #c8c8c8; }

.subscribe-form { background: #f3f3f3; padding: 30px 100px; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; }

.subscribe-form h4 { width: 100%; font-size: 18px; margin-bottom: 23px; font-family: noto_serifbold; text-align: center; }

.subscribe-form form { display: -webkit-flex; display: -ms-flex; display: flex; flex-flow: wrap; }

.subscribe-form form .mailpoet_paragraph:nth-child(7) { width: 65%; }

.subscribe-form form .mailpoet_paragraph:nth-child(8) { width: 35%; }

.subscribe-form .mailpoet_form { width: 100%; }

.subscribe-form .mailpoet_text { width: 100% !important; text-align: center; font-size: 16px; color: #000; line-height: 45px; background: #fff; border: none; }

.subscribe-form .mailpoet_text::-webkit-input-placeholder { color: #929292; }

.subscribe-form .mailpoet_text::-moz-placeholder { color: #929292; }

.subscribe-form .mailpoet_text:-ms-input-placeholder { color: #929292; }

.subscribe-form .mailpoet_text:-moz-placeholder { color: #929292; }

.subscribe-form .mailpoet_submit { width: 100% !important; border: none; line-height: 45px; background: #6e6e6e; color: #fff; font-size: 16px; transition: background .5s linear; }

.subscribe-form .mailpoet_submit:hover { background: #991a1c; }

.table-container h4 { text-align: center; font-size: 18px; font-weight: 700; margin-bottom: 25px; }

.table-container .gray-table { margin: 30px 0; border: 1px solid #f3f3f3; }

.table-container .gray-table tr { border-bottom: 1px solid #f3f3f3; }

.table-container .gray-table tr td:first-child { background: #f3f3f3; padding: 10px 20px; width: 25%; max-width: 260px; }

.table-container .gray-table tr td:last-child { padding: 10px 20px; }

.ya-share2 { display: flex; justify-content: flex-end; margin: 0; flex: 0 0 12em }

.tbl-characters { margin: 30px 0; border: 1px solid #f3f3f3; }

.tbl-characters tr td { padding: 10px 20px; }

.tbl-characters tr td:first-child { background: #f3f3f3; padding: 10px 20px; min-width: 25%; max-width: 260px; }

.tbl-characters tr.col00 td { background: transparent; text-align: center; }

#menu-osnovnoe-menyu.owl-carousel .owl-stage-outer { overflow: hidden; }

#menu-osnovnoe-menyu.owl-carousel .owl-prev { display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    background: none;
    left: -25px;
    border-radius: 0;
    top: 4px;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    transform: rotate(-45deg);
    animation: fadeIn .6s 1; }

#menu-osnovnoe-menyu.owl-carousel .owl-prev.disabled { display: none;}

#menu-osnovnoe-menyu.owl-carousel .owl-next { display: block;
    cursor: pointer;
    position: absolute;
    animation: fadeIn .6s 1;
    right: -25px;
    left: auto;
    width: 12px;
    height: 12px;
    background: none;
    border-radius: 0;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    transform: rotate(45deg);
    top: 4px; }

#menu-osnovnoe-menyu.owl-carousel .owl-next.disabled {display: none; }

ul.disc { padding-left: 25px; list-style: disc; }

.block-ball { background: #f3f3f3; margin-bottom: 20px; }

.block-ball tr td { padding: 20px; }

.ul-ball { text-align: left; float: left; list-style-type: none; list-style-position: outside; width: 100%; }

.ul-ball li { text-align: left; float: left; padding: 0px 4px 0px 0px; }

.ul-ball img { margin: 0; }
.block-ballsr{width:90px;height:90px;background:url(/wp-content/themes/5koleso/img/bgr-ballsr.gif) no-repeat 0 0;background-size:cover;text-align:center !important;color:#ffffff;font-size:40px !important;line-height:90px;padding:0;margin-top:10px;margin-left:10px;font-size:13px;font-weight:900}
.mobile_banners {display: none;}
.desktop_banners {display: block;margin:10px auto;}
.section-cards-wrapper .flex.search-pagination .pagination{width:100%;border:none}
.section-cards-wrapper .flex.search-pagination .pagination .select_page{display:none}
.section-cards-wrapper .flex.search-pagination .pagination .nav-links{position:relative;width:auto;display:flex;top:unset;left:unset;border-top:1px solid #c8c8c8;border-right:0;margin:0 auto}
.section-cards-wrapper .flex.search-pagination .pagination .nav-links span,.section-cards-wrapper .flex.search-pagination .pagination .nav-links a{padding:10px 15px;border-right:1px solid #c8c8c8}
td, th {padding: 20px;}
.topmenu-close {display: none;}
.wp-block-image figcaption, .wp-block-image figcaption strong {
    color: #838282;
    font-size: 16px;
    display: block;
    margin-bottom: 30px;
    margin-top: -10px;
    line-height: 1.1;
    text-align: center;
    font-weight: 400!important;
}

.subpost-meta {
	display: flex;
}


  .paging {
    width: 100%;
  }
  .paging-links {
    user-select: none;
    align-items: center;
    display: flex;
    width: 100%;
  }

    .paging-links a {
      color: inherit;
      transition: .6s color;
    }

    .paging-links a:active,
    .paging-links a:focus,
    .paging-links a:hover {
      color: #991a1c;
    }
    
    .paging-links li {
      padding: .8em 1em;
      text-align: center;
      border: 2px solid rgba(38, 38, 38, 0.3);
      border-right-width: 0;
    }

    .paging-numbers {
      flex: 1 1 50%;
    }

    .paging .position,
    .paging .prev,
    .paging .next {
      display: inline-block;
      line-height: 20px;
      vertical-align: middle;
    }

      .paging .position {
        font-size: 1.2em;
        padding-left: .5em;
        padding-right: .5em;
      }
      
      .paging .prev,
      .paging .next {
        transform: translateY(-.1em);
        font-size: 1.8em;
        font-family: 'Arial', sans-serif;
      }



    .paging-links li:first-child,
    .paging-links li:last-child {
      flex: 0 0 25%;
      text-align: center;
    }
    
    .paging-links li:last-child {
      border-right-width: 2px;
    }

    #menu-osnovnoe-menyu {
      z-index: 500;
    }

@media only screen and (max-width: 990px) { .progress { margin-bottom: 20px; } }

@media (min-width: 1200px) { .container { padding: 0; width: 1200px; }
  .container .row { margin: 0; } }

@media (max-width: 1199px) { .container { padding: 0 10px; }
  .container .row { margin: 0 -10px; }
  main .flex { display: block; }
  main .flex .left-col { width: 100%; margin-bottom: 25px; }
  main .flex .right-col { width: 100%; min-height: 50px; }
  .banner-1200x105 { display: none; }
  .banner-1200x288 { display: none; }
  .banner-300x600 { display: none; }
  header.container { padding-top: 30px; }
  .tests .flex { display: block; }
  .tests .flex .left { width: 100%; }
  
  .section-links .flex .card { padding: 0 15px 22px; width: 305px; height: 200px; }

  .section-links .flex .card .text { font-size: 16px; }
  .home-main .flex .left { width: 305px; }
  .home-main .flex .left .default-link .img-wrapper { height: 190px; }
  .home-main .flex .right { width: 625px; }
  .home-main .flex .right .col { padding-top: 10px; padding-right: 10px; min-height: 96px; }
  body { font-size: 16px; }
  .partition .flex .col { width: 305px; }
  .partition .flex .col .default-link.link-card .img-wrapper { height: 185px; }
  footer .flex .center .footer-menu li { margin: 0 4px 32px; }
  .archives-col-wrapper .flex-archive-cards .archive-card { width: 302px; }
  .section-cards-wrapper .flex .default-link { width: 460px; }
  .section-cards-wrapper .flex .default-link .img-wrapper { height: 253px; } }

@media (min-width: 768px) and (max-width: 1200px) {
   .partition.wrap .heading,
   .partition.container .heading { flex-wrap: wrap; }
  
  .partition.container .heading h6,
  .partition.container .heading .h6,
  .partition.wrap .heading h6,
  .partition.wrap .heading .h6 {
     width: 100%; 
     flex: 1 1 100%;
   } 
}




@media (max-width: 991px) { body { font-size: 16px; }
  main { margin-bottom: 25px; }
  section { margin-bottom: 25px; }
  main.gray { padding: 25px 0; }
  section.gray { padding: 25px 0; }
  .heading { margin-bottom: 15px; }
  .heading h6, .heading .h6, .main_h1 h1 { font-size: 20px; margin-right: 14px; }
  .heading a.more { font-size: 13px; }
  u.sticker { left: 10px; top: 10px; padding: 0 10px; height: 21px; font-size: 14px; }
  .card { padding: 0 15px 30px 15px; font-size: 16px; }
  .primary-menu { font-size: 16px; }
  header { overflow: hidden; }
  .primary-menu { margin-left: 0; margin-right: 0; }
  .primary-menu > li { margin: 0 23px; position: relative; }
  .primary-menu > li:first-child { margin: 0 23px; position: relative; }
  .primary-menu > li:last-child { margin: 0 23px; position: relative; }
  .primary-menu.owl-carousel .owl-stage { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; font-size: 18px; min-height: 35px; }
  header .text-center.logo { margin-bottom: 30px; }
  header .text-center.logo a img { max-width: 240px; }
  header .text-center.logo form .form-wrapper { height: 47px; }
  #menu-osnovnoe-menyu {padding: 0 2px;}
  #menu-osnovnoe-menyu.owl-carousel .owl-next { right: 0; top:10px;}
  #menu-osnovnoe-menyu.owl-carousel .owl-prev { left:0; top:10px;}
  .card.lg { min-height: 366px; }
  .card.lg .text h1 { font-size: 30px; }
  .card.lg .text h2, .card.lg .text h2 { font-size: 30px; }
  .card.lg .text p { font-size: 20px; }
  .card.lg.page-heading { min-height: 366px; }
  .tests .flex .left .card { min-height: 366px; }
  .tests .flex .left .card .text h2, .tests .flex .left .card .text .h2 { font-size: 30px; }
  .tests .flex .left .card .text p { font-size: 20px; }
  .tests .flex .left .flex-child .col { padding-right: 20px; }
  .section-links .flex .card { width: 236px; height: 151px; padding: 0 10px 10px; }
  .section-links .flex .card .text { font-size: 16px; }
  .home-main .flex .left { width: 236px; }
  .home-main .flex .left .default-link .img-wrapper { height: 143px; }
  .home-main .flex .right { width: 482px; }
  .home-main .flex .right .col { padding-top: 5px; padding-right: 5px; min-height: 95px; }
  .default-slider .owl-carousel .item .default-link .img-wrapper { height: 130px; }
  .default-slider .owl-carousel .owl-next {display: none; width: 25px; height: 25px; background-size: 13px;}
  .default-slider .owl-carousel .owl-prev {display: none; width: 25px; height: 25px; background-size: 13px;}
  .partition .flex .col { width: 236px; }
  .partition .flex .col .default-link.link-card .img-wrapper { height: 141px; margin-bottom: 10px; }
  .partition .flex .col .default-link.link-card .name { min-height: 83px; }
  .partition .flex .col ul li { margin-bottom: 20px; }
  footer { padding: 25px 0; }
  footer .flex .center { width: 195px; }
  footer .flex .center .socials { flex-direction: column; align-items: center; justify-content: center; margin-bottom: 22px; }
  footer .flex .center .socials > p { font-size: 14px; margin: 0 0 10px 0; }
  footer .flex .center .socials ul li:last-child { margin-right: 0; }
  footer .flex .center .footer-menu li { margin: 0 2px 2px; }
  footer .flex .center .footer-menu li a { font-size: 14px; }
  footer .flex .left { width: 230px; }
  footer .flex .left .magazine-wrapper > div:first-child { margin-right: 10px; }
  footer .flex .left .magazine-wrapper > div:first-child img { max-width: 108px; }
  footer .flex .right { width: 230px; }
  footer .flex .right .magazine-wrapper > div:first-child { margin-left: 10px; }
  footer .flex .right .magazine-wrapper > div:first-child img { max-width: 108px; }
  footer .flex .right .logo { margin-bottom: 20px; }
  footer .flex .copyright { font-size: 12px; padding-top: 27px; }
  .error-code-wrapper > p { font-size: 20px; }
  h1 { font-size: 26px; }
  .archives-col-wrapper .flex-archive-cards .archive-card { width: 230px; margin-bottom: 30px; }
  .section-cards-wrapper .flex .default-link { width: 357px; }
  .section-cards-wrapper .flex .default-link .img-wrapper { height: 197px; }
  .breadcrumbs li { font-size: 14px; }
  .news-page .make { padding: 25px; }
  .rating { padding: 25px; } }

 


@media (max-width: 767px) {
   .heading a.more {
      font-size: 1em;    
   }
   
   .partition .heading a.more {
      margin-top: 1em;
  }

  .partition.wrap .heading,
     .partition.container .heading { flex-wrap: wrap; }
    
    .partition.container .heading h6,
    .partition.container .heading .h6,
    .partition.wrap .heading h6,
    .partition.wrap .heading .h6 {
       width: 100%; 
       flex: 1 1 100%;
     } 


  
  .paging-links {
    flex-wrap: wrap;
  }
  .paging-border {
    order: 1;
  }

  .paging-links li.paging-numbers {
    order: 0;
    border-right-width: 2px;
    flex: 1 1 100%;
  }

    .paging-links li.paging-border {
      border-top: 0;
      flex: 1 1 50%;
    }

  iframe{max-width:100%}
  .mobile_banners {display: block;margin:10px auto;}
  .mobile_banners div {max-width: 100%;}
  .mobile_banners yatag {justify-content: center !important;margin:0 auto!important;}
  .desktop_banners {display: none;}
  div[id^=AdFox_banner_] {margin: 0 auto;}
  .partition__mini { margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ebebeb;display: flex;flex-direction: column;justify-content: center; }
  .test .partition__mini {min-height: unset;margin: 0; padding: 15px 0; border-bottom: 1px solid #ebebeb;}
  .heading h6, .heading .h6, .main_h1 h1 { font-size: 24px; }
  .card { padding: 0 10px 20px 10px; font-size: 14px; }
  .primary-menu { font-size: 14px; }
  header .text-center.logo .search_button { top:10px; right: 0;}
  header .text-center.logo .form_search.act .search_button { right: 0; top:5px;}
  header { margin-bottom: 15px; }
  .topmenu-container { margin: 0; padding: 65px 15px 15px; display: block; position: fixed; z-index: 99; top: 0; left: -100%; width: 90%; height: 100%; background: #fff; transition: .5s linear; overflow: auto; box-shadow: 0 0 12px rgba(0, 0, 0, 0.51); }
  .primary-menu li { margin: 0 0 4px 0; }
  .primary-menu li:first-child { margin: 0 0 4px 0; }
  .primary-menu li:first-child a { font-size: 18px; display: block; padding: 5px 0; }
  .primary-menu li:last-child { margin: 0 0 4px 0; }
  .primary-menu li:last-child a { font-size: 18px; display: block; padding: 5px 0; }
  .primary-menu li a, .primary-menu li a { font-size: 18px; display: block; padding: 5px 0; border-bottom: 1px solid #ebebeb;}
  .primary-menu > li > ul { display: block; position: static; width: 100%; box-shadow: none; border-bottom: 1px solid #eee; animation: none !important; padding: 10px; margin-bottom: 10px; }

  
  /*
  .primary-menu > li.menu-item-has-children {
    position: relative;
  }

  .primary-menu > li.menu-item-has-children:after {
    content: '\25BE';
    float: right;
    right: 0;
    color: inherit;
    top: 0;
    font-size: 2em;
    line-height: 1.3;
    padding-right: 0em;
    position: absolute;
  }*/

  

  

/*  .primary-menu > li.menu-item-118984 > ul {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    margin-bottom: 0;
    transition: .3s height margin padding;
  }*/

  /*.primary-menu > li.menu-item-118984.active > ul {
    height: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }*/


  .topmenu-container.active { left: 0; }
  header .text-center.logo { margin-bottom: 0; }
  header .text-center.logo.act {margin-bottom: 40px;}
  header .text-center.logo.act .search_button {display: none;}
  header .text-center.logo form .form-wrapper { width: calc(100vw - 20px); height: 37px; }
  header .text-center.logo form .form-wrapper input { font-size: 14px; -webkit-box-shadow: inset 0 0 0 0 #fff; -moz-box-shadow: inset 0 0 0 0 #fff; box-shadow: inset 0 0 0 0 #fff; color: transparent; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
  header .text-center.logo form .form-wrapper input::-webkit-input-placeholder { color: transparent; }
  header .text-center.logo form .form-wrapper input::-moz-placeholder { color: transparent; }
  header .text-center.logo form .form-wrapper input:-ms-input-placeholder { color: transparent; }
  header .text-center.logo form .form-wrapper input:-moz-placeholder { color: transparent; }
  header .text-center.logo form .form-wrapper input:focus { padding-left: 15px; padding-right: 90px; color: #000; }
  header .text-center.logo form .form-wrapper input:focus::-webkit-input-placeholder { color: #929292; }
  header .text-center.logo form .form-wrapper input:focus::-moz-placeholder { color: #929292; }
  header .text-center.logo form .form-wrapper input:focus:-ms-input-placeholder { color: #929292; }
  header .text-center.logo form .form-wrapper input:focus:-moz-placeholder { color: #929292; }
  header .text-center.logo form .form-wrapper button { right: 10px; }
  header .text-center.logo a img { max-width: 190px; max-height:48px;}
  header .text-center.logo a.active { position: relative; z-index: 55; }
  header.container { padding-top: 15px;    padding-bottom: 5px; box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.2); }
  header.container.topWindow{padding-top: 3px; padding-bottom: 0px; box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.2);}	

  .toggle-menu { display: block; width: 30px; height: 25px; border: none; background: url(../img/menu.svg) no-repeat center; background-size: 100% 100%; position: absolute; z-index: 3; left: 0; bottom: 2px; color: transparent; font-size: 0; }
  .topmenu-close, .toggle-menu.active {display: none;}
  .topmenu-close.active {display: block;position: absolute;z-index: 999; background: none; color: #000; font-size: 20px;right: 15px;  top: 15px;border:none;  bottom: unset; transform: scaleX(1.4);}
  .primary-menu.owl-carousel.active {display: block;}
  .menu-overlay { display: none; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 49; left: 0; top: 0; width: 100%; height: 100%; }
  .menu-overlay.active { animation: fadeIn .5s 1; display: block; }
  .card.lg { min-height: 198px; margin-bottom: 20px; }
  .card.lg .text h1 { font-size: 22px; margin-bottom: 5px; }
  .card.lg .text h2, .card.lg .text .h2 { font-size: 23px; margin-bottom: 5px; }
  .card.lg .card .text p { font-size: 18px; }
  .card.lg.page-heading { min-height: 300px; margin-bottom: 20px; }
  .card.lg.page-heading .text span { font-size: 14px; }
  .tests .flex .left .card { min-height: 250px; margin-bottom: 20px; }
  .tests .flex .left .card .text h2, .tests .flex .left .card .text .h2 { font-size: 16px; margin-bottom: 5px; }
  .tests .flex .left .card .text p { font-size: 18px; }
  .tests .flex .left .flex-child { display: block; }
  .tests .flex .left .flex-child .col { padding-right: 20px; margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #ebebeb; width: 100%; }
  .tests .flex .left .flex-child .col.col__news {width: 100%;margin: 0; padding: 10px 0;}
  .home-main .flex .right .col.col__news {width: 100%;margin: 0; }
  .home-main .flex .right .col.col__news:nth-child(5) {border-bottom: 1px solid #ebebeb;margin-bottom: 15px;}
  .tests .flex .left .flex-child .col.col__news .name, .home-main .flex .right .col.col__news .name {margin: 0; padding: 0 10px;}
  .tests .flex .left .flex-child .col.col__news:nth-child(5) {border-bottom: 1px solid #ebebeb;margin-bottom: 15px;}
  .section-links .flex { display: block; }
  .section-links .flex .card { width: 100%; margin-bottom: 15px; height: 250px; background-position: right center !important }
  .home-main .flex { display: block; }
  .home-main .flex .left { width: 100%; margin-bottom: 15px; }
  .home-main .flex .left .default-link .img-wrapper { height: 250px; margin-bottom: 5px;}
  .home-main .flex .right { width: 100%; }
  .home-main .flex .right .col { width: 100%; padding: 0; margin-bottom: 15px; min-height: auto; padding-bottom: 10px; }
  .home-main .flex .right .col:first-child {border-top: 1px solid #ebebeb; padding-top: 10px;}
  .home-main .flex .right .col:nth-child(n+7) { border-bottom: 1px solid #ebebeb; }
  .home-main .flex .right .col:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }
  .default-slider .owl-carousel .item .default-link .img-wrapper { height: 250px; }
  .default-slider .owl-carousel .owl-stage-outer { margin-left: 0; }
  main .flex .right-col.arhive {margin-top: 0;}
  .partition .flex { display: block; }
  .partition .flex .col { width: 100%; margin-bottom: 20px; }
  .partition .flex .col .default-link.link-card .name { min-height: auto; }
  .partition .flex .col .default-link.link-card .img-wrapper { height: 237px; }
  .news-page .owl-carousel .owl-next { display: none; }
  .news-page .owl-carousel .owl-prev { display: none; }
  .news-page .owl-carousel .owl-stage-outer { margin: 0; overflow: hidden;}
  .news-page h5 { font-size: 18px; }
  .news-page .make { display: block; padding: 15px 10px; }
  .news-page .make > div { margin-bottom: 15px; }
  .news-page .make > div:last-child { margin-bottom: 0; }
  .news-page .make > div p { font-size: 18px; }
  .news-page .make > div:first-child p { font-size: 18px; }
  .news-page .make u { font-size: 14px; margin-bottom: 6px; }
  .news-page > p {/* font-size: 15px;*/     font-size: 19px;}
  .news-page center { font-size: 13px; }
  .news-page .flex-dd { display: block; }
  .news-page .flex-dd .left .card { width: 100%; }
  .news-page .flex-dd .right { width: 100%; font-size: 14px; }
  .news-page .tab-section .flex-tab { display: block; }
  .news-page .tab-section .flex-tab .left { width: 100%; }
  .news-page .tab-section .flex-tab .left .tab-menu li { margin-bottom: 5px; }
  .news-page .tab-section .flex-tab .left .tab-menu li a { font-size: 16px; }
  .news-page .tab-section .flex-tab .right { width: 100%; }
  .news-page .tab-section .flex-tab .right .tab-content ul li { font-size: 16px; }
  .news-page .plus-minus { display: block; }
  .news-page .plus-minus .col { width: 100%; }
  .news-page .plus-minus .col:first-child { margin-bottom: 20px; }
  .news-page .plus-minus .col ul li { font-size: 16px; margin-bottom: 4px; font-size: 14px; }
  .partners-slider .owl-carousel .owl-next { display: none; }
  .partners-slider .owl-carousel .owl-prev { display: none; }
  footer .flex { display: block; }
  footer .flex .center { width: 100%; text-align: center; padding: 0; }
  footer .flex .left { width: 100%; text-align: center; margin-bottom: 20px; margin-bottom: 30px; }
  footer .flex .left .magazine-wrapper { display: block; margin-bottom: 4px; }
  footer .flex .left .magazine-wrapper > div:first-child { width: 100%; text-align: center; margin-right: 0; margin-bottom: 15px; }
  footer .flex .left .magazine-wrapper > div:first-child img { max-width: 100%; }
  footer .flex .left .magazine-wrapper > div:last-child { text-align: center; }
  footer .flex .left .magazine-wrapper > div:last-child a.archive { margin-bottom: 0; }
  footer .flex .left .magazine-wrapper > div:last-child ul { display: flex; align-items: center; justify-content: center; display: none; }
  footer .flex .left .magazine-wrapper > div:last-child ul li:first-child { margin-right: 10px; }
  footer .flex .left .magazine-wrapper > div:last-child a { margin: 0 10px; }
  footer .flex .left .logo img { max-width: 180px; }
  footer .flex .right { width: 100%; text-align: center; margin-bottom: 30px; }
  footer .flex .right .logo { display: none; }
  footer .flex .right .magazine-wrapper { display: block; margin-bottom: 4px; }
  footer .flex .right .magazine-wrapper > div:first-child { width: 100%; text-align: center; margin-right: 0; margin-bottom: 15px; margin-left: 0; }
  footer .flex .right .magazine-wrapper > div:first-child img { max-width: 100%; }
  footer .flex .right .magazine-wrapper > div:last-child { text-align: center; }
  footer .flex .right .magazine-wrapper > div:last-child a.archive { margin-bottom: 0; }
  footer .flex .right .magazine-wrapper > div:last-child ul { display: flex; align-items: center; justify-content: center; margin-top: 14px; }
  footer .flex .right .magazine-wrapper > div:last-child ul li:first-child { margin-right: 10px; }
  footer .flex .right .magazine-wrapper > div:last-child a { margin: 0 10px; }
  footer .flex .right.large { display: none !important; }
  footer .flex .right.xs { display: block; }
  body.active { position: relative; overflow: hidden !important; }
  html.active { position: relative; overflow: hidden !important; }
  .error-code-wrapper { min-height: auto; padding-top: 35px; padding-bottom: 35px; }
  .error-code-wrapper > p { font-size: 16px; }
  .error-code-wrapper > a { font-size: 14px; }
  h1 { font-size: 24px; }
  .archives-col-wrapper .flex-archive-cards { display: block; }
  .archives-col-wrapper .flex-archive-cards .archive-card { display: block; margin-right: auto !important; margin-left: auto !important; width: 100%; max-width: 400px; margin-bottom: 25px; }
  .archives-col-wrapper .flex-archive-cards .archive-card:last-child { margin-bottom: 0; }
  .archives-col-wrapper .select-filter { margin-bottom: 30px; }
  .archives-col-wrapper .select-filter .year { margin-left: 10px; }
  .archives-col-wrapper .select-filter .year > p { margin-right: 5px; font-size: 14px; }
  select { padding-left: 14px; height: 30px; }
  .section-cards-wrapper .flex .default-link { width: 100%; }
  .section-cards-wrapper .flex .default-link .img-wrapper { height: 240px; }
  .more-cards, .section-cards-wrapper .flex .pagination { height: 40px; }

  .rating { display: block; padding: 15px 10px; }
  .rating .col > p { font-size: 14px; margin: 8px 0; line-height: 1.2; }
  .rating .col > h3 { font-size: 18px; }
  .rating .col .rate-wrapper .rate { width: 85%; }
  .rating .total { flex-direction: column; align-items: center; justify-content: center; }
  .rating .total p { margin: 0 0 10px 0; font-size: 16px; }
  .breadcrumbs { display: none; }
  .tags { flex-wrap: wrap; }
  .tags li { margin-right: 5px; margin-bottom: 5px; }
  .tags li a { line-height: 33px; font-size: 13px; }
  .tags li:last-child { margin-right: 0; }
  .subscribe-form { padding: 15px 10px; flex-direction: column; align-items: center; justify-content: center; }
  .subscribe-form button { width: 100%; margin-bottom: 5px; }
  .subscribe-form input { width: 100%; margin-bottom: 5px; } }

@media (max-width: 480px) {
  td, th {padding: 10px;}
  .default-slider .owl-carousel .item .default-link .img-wrapper { height: 183px; }
  .partition .flex .col .default-link.link-card .img-wrapper { height: 235px; }
  .section-cards-wrapper .flex .default-link .img-wrapper { height: 218px; } }

@media (max-width: 380px) { 
	.subpost-meta {
		flex-direction: column;
		max-height: 5em
	}
	.default-slider .owl-carousel .item .default-link .img-wrapper { height: 163px; }
  .partition .flex .col .default-link.link-card .img-wrapper { height: 215px; }
  .section-links .flex .card { height: 224px;
    background-position: right center !important;
   }
  .home-main .flex .left .default-link .img-wrapper { height: 220px; }
  .section-cards-wrapper .flex .default-link .img-wrapper { height: 196px; } }

@media (max-width: 340px) { .default-slider .owl-carousel .item .default-link .img-wrapper { height: 143px; }

  #menu-osnovnoe-menyu {
    padding: 0;
  }

  .partition .flex .col .default-link.link-card .img-wrapper { height: 180px; }
  .section-links .flex .card { height: 190px;
          background-position: right center !important;
   }
  .home-main .flex .left .default-link .img-wrapper { height: 187px; }
  .section-cards-wrapper .flex .default-link .img-wrapper { height: 166px; }
  .breadcrumbs { display: none; } }

.all_brands { display: -webkit-flex; display: -ms-flex; display: flex; flex-flow: wrap; }

.all_brands .item { min-width: 25%; margin-bottom: 50px; text-align: center; }

.all_brands .item a { display: -webkit-flex; display: -ms-flex; display: flex; flex-flow: column; color: #000; }

.all_brands .item .img { margin-bottom: 15px; }

.all_brands_box { border-top: 1px solid #f3f3f3; margin-top: 20px; padding-top: 10px; text-align: right; }

.all_brands_box a { color: #000; background: #f3f3f3; padding: 4px 10px; font-size: 14px; }

.all_brands_box.gray { border-top: 1px solid #fff; }

.all_brands_box.gray a { background: #fff; }

.owl-carousel .owl-stage-outer { overflow: visible; }

.owl-carousel .owl-item { opacity: 0.3; }

.owl-carousel .owl-item img {margin:0 auto;}

.owl-carousel .owl-item.active { opacity: 1; }

section.gray, .section.gray, .default-slider { overflow: hidden; }

.partners-slider .owl-carousel .owl-stage-outer { overflow: hidden; }

@media (max-width: 767px) { header { overflow: unset; }
  header .text-center.logo .form_search { top: 72px; }
	header.topWindow .text-center.logo .form_search {
    top: 45px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: absolute;
}
.default-slider .owl-carousel .owl-item { opacity: 1; }
.default-slider .owl-carousel .owl-stage-outer {overflow: visible;}
 }

.comments-block {
    background: #f3f3f3;
    margin: 30px 0;
    padding: 30px;
    font-size: 14px;
}
.comments-block h3 {font-size: 16px;}

.comments-block .comment-form-url {
  display: none;
}
.comments-block #reply-title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 23px;
    font-family: noto_serifbold;
    text-align: center;
}
.comments-block textarea {
    width: 90%;
    margin: 15px auto;
    display: block;
    padding: 10px;
    font-size: 14px;
}
.comments-block input[type=submit] {
    display: block;
    margin: 30px auto;
    border: none;
    line-height: 45px;
    padding: 0 30px;
    background: #6e6e6e;
    color: #fff;
    font-size: 16px;
    transition: background .5s linear;
}
.comments-block input[type=submit]:hover {
  background: #991a1c;
}
.comments-block li {margin-bottom: 5px;}
.comments-block li.comment .fn {font-weight: bold;}
.comments-block li.comment .comment-meta {font-size: 12px;}
.comment-form-email, .comment-form-author {
    max-width: 300px;
    display: inline-block;
    margin: 0 5px;
}
#yandex_rtb_R-A-53448-5 table {
  display: flex;
}

header .text-center.logo form .form-wrapper input {

	height: 50px;
}
header .text-center.logo form {

    position: relative;
    z-index: 100;
    width: 0;
    overflow: hidden;
    height: 0;

}
header .text-center.logo .form_search.act form {

    position: relative;
    z-index: 100;
    width: auto;
    overflow: hidden;
    height: 80px;

}
@media(min-width:768px){
	.topWindow {
	padding-bottom: 0px;
		padding-top:15px;
	}
}
@media(max-width:768px){
	.topWindow {
		padding-top:0px;
	padding-bottom: 15px;
	}
}
.topWindow {
box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.2);
position: fixed;
z-index: 88;
width: 100%;
background:#fff;
    top: 0!important;
padding-top: 5px;
}

header.topWindow .text-center.logo{
	margin-bottom: 10px;
	    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.topWindow .toggle-menu {
    display: block;
    width: 30px;
    height: 25px;
    border: none;
    background: url(../img/menu.svg) no-repeat center;
        background-size: auto;
    background-size: 100% 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 5px;
    color: 
    transparent;
    font-size: 0;
}
header.topWindow .text-center.logo a img {
    max-width: 190px;
    max-height: 48px;
}
@media (max-width:768px){
	
	header.topWindow .text-center.logo a img {max-height: 35px;}
}


.menu-overlay.active {
    animation: fadeIn .5s 1;
    display: block;
}
.topmenu-close.active {
    display: block;
    position: absolute;
    z-index: 999;
    background: none;
    color: #000;
    font-size: 35px;
    right: 12px;
    width: 1em;
    font-weight: normal;
    top: 15px;
    border: none;
    line-height: .8;
    bottom: unset;
    transform: none;
}
.primary-menu.owl-carousel.active {
    display: block;
}
.fixmenu.topmenu-container {
    margin: 0;
    padding: 65px 15px 15px;
    display: block;
    position: fixed;
    z-index: 99;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100%;
    background: 
#fff;
transition: .2s linear;
overflow: auto;
box-shadow: 0 0 12px
    rgba(0, 0, 0, 0.51);
}

.topmenu-container.fixmenu .container, .fixmenu.topmenu-container{
	width:300px;
	overflow-x: hidden;
}

.fixmenu.topmenu-container.active {
    left: 0;
	}
.menu-overlay {
    display: none;
    background: 
    rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 49;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.menu-overlay.active {
    animation: fadeIn .5s 1;
    display: block;
}
.fixmenu #menu-osnovnoe-menyu .owl-stage{
	display: flex;
	flex-direction:column;
	    transform: none!important;
	max-width: 100%;
}
.fixmenu .owl-carousel .owl-item{
    opacity: 1;
}

.fixmenu #menu-osnovnoe-menyu div.owl-item {
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 1px solid #ebebeb;
}
.fixmenu #menu-osnovnoe-menyu .owl-nav, .fixmenu #menu-osnovnoe-menyu .owl-dots{
	display:none;
}
.fixmenu .primary-menu li:first-child {
    margin: 0 0 4px 0;
}
.fixmenu .owl-carousel .owl-item img {
	margin: 0;
}

.aligncenter .select_page{
	display:none;
}
.lmb-container .btn.loadMoreBtn {
    color:#fff;
text-align: center;
background:#6e6e6e;
text-transform: uppercase;
margin-top: 20px;
padding: 5px 15px;
border-radius: unset;	
}


/*new comments*/
.news-page .comments-block{
padding:0;
	background:none;
}
.news-page .comments-block #reply-title{
	font-size: 30px;
font-family: "NotoSerif";
color:rgb(0, 0, 0);
font-weight: bold;
line-height: 1;
	text-align: left;
}
.news-page .comments-block form{
	display: flex;
    flex-wrap: wrap;
    background: #f3f3f3;
    padding: 30px;
}
.news-page .comments-block form .comment-notes{
order: 3;
    width: 30%;

}

.news-page .comments-block form #email-notes{
	    font-size: 16px;
    color: rgb(131,131,131);
    line-height: 1.2;
	    padding-top: 5px;
    display: block;

}
.news-page .comments-block form  .comment-form-comment{
	order: 4;
    width: 100%;
}
.news-page .comments-block form  .comment-form-comment textarea{
    width: 100%;
	outline: none;
    border: none;
    font-size: 18px;
    font-family: "Arimo";
    color: rgb(77, 77, 77);
	padding-left: 10px;
}

.news-page .comments-block form  .comment-form-author{
	order: 1;
    width: 33%;
}
.news-page .comments-block form  .comment-form-email{
	order: 2;
    width: 33%;	
}
.news-page .comments-block form  .comment-form-author input, .news-page .comments-block form  .comment-form-email input{
    line-height: normal;
     width: 94%; 
    height: 50px;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: "Arimo";
    color: rgb(77, 77, 77);
    padding-left: 10px;
	
}

.news-page .comments-block form .comment-form-cookies-consent{
	order:5;
}
.news-page .comments-block form .form-submit{
	    order: 6;
	width: 100%;
}
.news-page .comments-block form .form-submit input{
	margin-right:0;
}
.news-page .comments-block form .comment-form-cookies-consent label{
font-size: 16px;
font-family: "Arimo";
color: rgb(131, 131, 131);
line-height: 1.875;
	font-weight:normal;
}

.news-page .comments-block form p.comment-form-url{
	display:none!important;
}

.news-page .comments-block form p{
	display:none;
	
}
.news-page .comments-block form p.comment-form-comment{
	display:block;
}
.news-page .comments-block form p.comment-form-comment textarea{
	height:80px;
}
.news-page .comments-block form p.comment-form-comment.big textarea{
	height:auto;
}
#comments {
    font-size: 24px;
    margin-top:24px;
    color: 
    rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.25;
}
.comments-block ol.commentlist{
	    list-style: none;
    padding: 0;
}
.comments-block ol.commentlist li {
    padding-top: 30px;
}
.comments-block ol.commentlist li .comment-author, .comments-block ol.commentlist li .commentmetadata{
	display: inline;
}
.comments-block ol.commentlist li .comment-author .fn{
	    font-size: 18px;
    font-family: "Arimo";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.667;
	font-style: normal;
}
.comment-body p {
    clear: both;
    font-size: 18px;
    font-family: "Arimo";
    color: 
    rgb(67, 67, 67);
    line-height: 1.333;
    padding-top: 10px;
    margin: 0;
}
a.comment-reply-link {
    font-size: 15px;
    font-family: "Arimo";
    color:     rgb(48, 134, 189);
    line-height: 2;
    text-decoration: none;
}
.comments-block ol.commentlist li .commentmetadata a{
	    color: rgb(145, 145, 145);
    font-size: 14px;
    padding-left: 15px;
}

.comments-block #loadMore{
	background:
#6e6e6e;
font-size: 18px;
font-family: "Arimo";
color:
rgb(255, 255, 255);
font-weight: bold;
line-height: 45px;
width: 100%;
margin: 0 auto;
border: none;
text-transform: none;
transition: background .5s linear;
}
.comments-block #loadMore:hover {
    background: #991a1c;
}
@media (max-width: 600px){
	.news-page .comments-block form {
		flex-direction: column;
	}
	.news-page .comments-block form .comment-notes,.news-page .comments-block form .comment-form-author input, .news-page .comments-block form .comment-form-email input {
		width:100%;
	}
	.news-page .comments-block form .comment-form-author, .news-page .comments-block form .comment-form-email {
		    width: 100%;
    max-width: none;
    margin-bottom: 15px;
	}
	.subscribe-form .mailpoet_paragraph{
	height: 50px;
}
	.subscribe-form .mailpoet_paragraph input{
	height: 100%;

font-size: 14px;
	}
}
.subscribe-form *{
-webkit-border-radius:0px;
}
.comment .children{
	background: #f3f3f3;
	padding-left: 30px;
	
}

#reply-title > small{
float: right;
position: relative;
top: 10px;
}


@media (max-width: 450px){
section.widget_text.banner-1200x105.container{
  display: block;
}
}